.contenedor{
	width: auto;
    position: relative;
}

.iconos ul{
	margin-left: auto;
	margin-right: auto;
    text-align: center;
}

.iconos li{
    display: inline-block;
    font-size: .8em;
    text-align: center;
    margin: 0 13px 0 13px;
    margin-top: 20px;
    margin-bottom: 50px;
    cursor: pointer;
}

.Title{
    text-align: center;
}

span{
    display: none;
}

li .JuntaDir{
    background-image: url(/assets/img/assets.png);
    background-position: -368px 0;
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #F0C730;
    border-radius: 31px;
}

li .ControlSoc{
    background-image: url(/assets/img/assets.png);
    background-position: -368px -57px;
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #5698AA;
    border-radius: 31px;

}

li .Apelaciones{
    background-image: url(/assets/img/assets.png);
    background-position: -368px -114px;
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #CC4229;
    border-radius: 31px;
}

li .RevFisc{
    background-image: url(/assets/img/assets.png);
    background-position: -368px -169px;
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #28487E;
    border-radius: 31px;
}


li .JuntaDir:hover, li .JuntaDir.selected {
    background-color: #F0C730;
    background-position-x: -482px;
}

li .ControlSoc:hover, li .ControlSoc.selected{
    background-color: #5698AA;
    background-position-x: -482px;

}

li .Apelaciones:hover, li .Apelaciones.selected{
    background-color: #CC4229;
    background-position-x: -482px;
}

li .RevFisc:hover, li .RevFisc.selected{
    background-color: #28487E;
    background-position-x: -482px;
  
}

.previous {
    font-size: 0.9em !important;
    padding: 80px 0;
}

.previous .Objeto{
    text-align: center;
}

.MainContainer{
    z-index: 1000;
    padding: 10px 0;
}


.MainContainer .Objeto {
     width: 100%;
     text-align: center;
}

.Objeto{
    border-radius: 5px;
    padding-bottom: 15px;
}

.Objeto h1{
    text-align: center;
    color: white;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 1em;
}

.Objeto a{
    text-align: center;
    color: white;
    font-size: 1em;
    margin-bottom: 5px;
}

.Objeto img {
    padding: 5px;
    border-radius: 5px;
    
}

.Credito{
    background-color: transparent !important;
    border: solid 2px;
    padding: 10px;
    margin-top: -15px;
    border-radius: 5px;
}


.Credito h1{
    font-size: 0.7em;
    margin-top: 10px;
    margin-bottom: 0;
}

.Credito a{
    font-size: 0.7em;
}

.Slider .JuntaDir{
    background-color: #F0C730;
    border-color: #F0C730;
}

.Slider .ControlSoc{
    background-color: #5698AA;
    border-color: #5698AA;
}

.Slider .Apelaciones{
    background-color: #CC4229;
    border-color: #CC4229;
}
  
.Slider .RevFisc{
    background-color: #28487E;
    border-color: #28487E;
}
 

.contenedor .BackBanner{
    left: 15px;
    background-color: rgb(100 100 100);
    border-radius: 150px;
}

.contenedor .NextBanner{
    right: 15px;
    background-color: rgb(100 100 100);
    border-radius: 150px;
}