<div class="pageContent">
	<div class="L-10 M-10 S-10 row pageBanner">
		<div class="L-10 M-8 S-12 columns imagenBanner Servicios" appImagesSizesBanner>
			<img src="./assets/img/BanServicios.jpg">
			<div class="PageTitle"><h2>Servicios</h2><h3>para que logres lo que te propones</h3></div>
		</div>	
		<div class="L-2 M-2 S-12 columns bannerBotones">
			<a class="L-12 M-12 S-6 columns OfVirtual" href="https://servicios2.inube.com.co/linix/v6/860006643/login.php?nit=860006643" target="_blank">
				<div class="icono"><img src="./assets/img/OfVirtIcon.png"></div>
				<div class="texto"><b>Oficina<b class="Resaltar"> virtual</b></b></div>
			</a>
			<div class="L-12 M-12 S-6 columns Vinculate" [routerLink]="['/vinculate']">
				<div class="icono"><img src="./assets/img/vinculIcon.png"></div>
				<div class="texto"><b>Vincúlate<b class="Resaltar"> ahora</b></b></div>
			</div>
		</div>
	</div>
	<div class="L-10 M-10 S-10 row pageContainer" id="ahorros">
		<div class="ahorrosTitle">
			<div class="Icon ServiciosAhorros"></div>
			<div class="Title ServiciosAhorros"><h1>Ahorros</h1></div>
		</div>
		<ng-container *ngFor="let ahorro of ahorros">
			<div class="L-12 M-12 S-12 columns insideContent">
				<img [src]="ahorro.image.url" class="L-3 M-4 S-12 columns">
				<div class="L-9 M-8 S-12 texto" [innerHTML]="ahorro.description"></div>
			</div>
		</ng-container>
	</div>
	<div class="L-10 M-10 S-10 row pageContainer" id="creditos">
		<div class="creditosTitle">
			<div class="Icon ServiciosCreditos"></div>
			<div class="Title ServiciosCreditos"><h1>Créditos</h1></div>
			<div class="TextTitle"><a>Escoge el crédito que necesitas para alcanzar tus metas</a></div>
		</div>
		<div class="L-12 M-12 S-12 row insideContent">
			<app-creditos-slider *ngIf="Lista" [data]="Lista"></app-creditos-slider>
		</div>
	</div>
	<div class="L-10 M-10 S-10 row pageContainer" id="serviciosfinancieros">
		<div class="servFunerTitle">
			<div class="Icon ServiciosServFun"></div>
			<div class="Title ServiciosServFun"><h1>Servicios funerarios</h1></div>
			<div class="TextTitle"><a>Al vincularte al Fondo de Empleados del Banco de Bogotá, te afiliarás automáticamente al Plan Tradicional de la funeraria Los Olivos de forma totalmente gratuita. Este plan cobija a alguno de los siguientes grupos familiares:</a></div>
		</div>
		<ng-container *ngFor="let funerario of funerarios">
			<div class="L-12 M-12 S-12 columns insideContent">
				<img class="L-3 M-4 S-12 columns" [src]="funerario.image.url">
				<div class="L-9 M-8 S-12 texto" [innerHTML]="funerario.description"></div>
			</div>
		</ng-container>
		<div class="TextTitle">*Si deseas conocer más información sobre el Plan Tradicional u otros planes, puedes consultarlo aquí: <a [href]="link_cirular" target="_blank">Circular Renovación Póliza Olivos 2018 – 2019</a></div>
	</div>
</div>	