.pageContainer{
    background-color: rgb(240, 240, 240);
}

.contenedor{
    width: auto;
    position: relative;
    background-color: rgb(240, 240, 240);
}

.iconos ul{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.iconos li{
    display: inline-block;
    font-size: .8em;
    text-align: center;
    margin: 0 13px 0 13px;
    margin-top: 20px;
    margin-bottom: 50px;
    cursor: pointer;
    vertical-align: top;
}

.Title{
    text-align: center;
}

span{
    text-align: center;
    width: 65px;    
}

li .Todos{
    margin: 0 auto;
    background-image: url(/assets/img/assets.png);
    background-position: -598px -624px;
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #F0C730;
    border-radius: 31px;
    color: #F0C730;
}

li .Turismo{
    margin: 0 auto;
    background-image: url(/assets/img/assets.png);
    background-position: -598px -681px;
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #5698AA;
    border-radius: 31px;
    color: #5698AA;
}

li .Salud{
    margin: 0 auto;
    background-image: url(/assets/img/assets.png);
    background-position: -598px -737px;
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #CC4229;
    border-radius: 31px;
    color: #CC4229;
}

li .Seguros{
    margin: 0 auto;
    background-image: url(/assets/img/assets.png);
    background-position: -598px -795px;
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #28487E;
    border-radius: 31px;
    color: #28487E;
}

li .Tecnologia{
    margin: 0 auto;
    background-image: url(/assets/img/assets.png);
    background-position: -598px -851px;
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #BFCA43;
    border-radius: 31px;
    color: #BFCA43;
}

li .Concesionarios{
    margin: 0 auto;
    background-image: url(/assets/img/assets.png);
    background-position: -598px -908px;
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #E0992F;
    border-radius: 31px;
    color: #E0992F;
}


li .Todos:hover, li .Todos.selected {
    background-color: #F0C730;
    background-position-x: -712px;
}

li .Turismo:hover, li .Turismo.selected{
    background-color: #5698AA;
    background-position-x: -712px;

}

li .Salud:hover, li .Salud.selected{
    background-color: #CC4229;
    background-position-x: -712px;
}

li .Seguros:hover, li .Seguros.selected{
    background-color: #28487E;
    background-position-x: -712px;
  
}

li .Tecnologia:hover, li .Tecnologia.selected{
    background-color: #BFCA43;
    background-position-x: -712px;
   
}

li .Concesionarios:hover, li .Concesionarios.selected{
    background-color: #E0992F;
    background-position-x: -712px;
}

li.FilteredConv {
    cursor: pointer;
    position: relative;
    padding: 10px;
}

li.FilteredConv:hover .More {
    display: block;
}
.FilteredConv img{
    border: solid 1px grey;
    border-radius: 15px;
}

.More {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.MoreContainer {
    background-color: rgba(40,72,126,.9);
    color: white !important;
    border: solid 1px grey;
    border-radius: 15px;
    height: 99%;
    padding: 10px;
    }

.Titulo h1{
    color: white;
}

.descript{
    border-top: solid 2px grey;
    margin-top: -20px;
    padding-top: 5px;
}

.descuento{
    position: relative;
    font-size: 2em;
    text-align: center;
    transform: translateY(50%)
}

.descuento h1{
    color:white;
    margin-top: 0;
}