<div class="L-12 M-12 S-12 columns">
	<div class="L-10 M-10 S-10 columns centered contactanosContainer">
			<div class="L-12 M-12 S-12 ContactUs">
				<div class="L-3 M-3 S-10  columns contactanosLeft">
					<div class="Icon Contactanos"></div>
					<div class="Title Contactanos"><h1>Contáctanos</h1></div>
				</div>
			</div>
			<div class="L-12 M-12 S-12 ContactUs">
				<div class="L-3 M-3 S-10  columns contactanosLeft">
					<div class="contactIcon">
						<div class="iconTel"></div>
						<div class="text">
							<a routerLink="/contactanos">Consulta aquí nuestras extensiones.</a>
						</div>
					</div>
					<div class="contactIcon">
						<div class="iconMail"></div>
						<div class="text">
							<a href="mailto:ebautis@bancodebogota.com.co" target="_blank">ebautis@bancodebogota.com.co</a>
						</div>
					</div>
					<div class="contactIcon">
						<div class="iconDir"></div>
						<div class="text">
							<a>Calle 36 N° 7 – 41 Oficinas 203 y 302 Bogotá.<br>Bogotá, Colombia</a>
						</div>
					</div>
				</div>
				<div class="L-6 M-6 S-12 columns contactanosMap">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d497.1043941979988!2d-74.0670239861775!3d4.623482594437752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f998648077529%3A0x59b0da9208f05573!2zQ2wuIDM2ICM3LTQxLCBCb2dvdMOh!5e0!3m2!1ses-419!2sco!4v1551970515445" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
					
				</div>
				<div class="L-3 M-3 S-10 contactanosRight">
					<div class="contactIcon">
						<div class="iconPolProt"></div>
						<div class="text">
							<a [href]="politica_datos" target="_blank">Política de protección de datos personales</a>
						</div>
					</div>
					<div class="contactIcon">
						<div class="supersolidaria">
							<img src="./assets/img/supersolidaria.png" alt="">
						</div>
					</div>
				</div>
			</div>
	</div>	
</div>	