<div class="L-12 M-12 S-12 row contenedor" *ngIf="data">
	<div class="iconos">
		<ul class="L-10 M-10 S-10 columns centered">
			<li class="Title" *ngFor="let item of data">
				<div [ngClass]="{selected: Position == item.id-1}" (click)="ChangePosition(item.id-1)" class="icon-item {{item.Clase}}">
					<img src="{{item.Icon}}" alt="">
					<div class="label-item {{item.Clase}}">{{ item.TextIcon }}</div>
				</div>
				
			</li>
		</ul>
	</div>
	<div>
		<ngx-slick class="carousel Slider" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
			<div ngxSlickItem class="slide"  *ngFor="let cred of data" >
				<div class=" Objeto {{cred.Clase}}">
					<img src="{{cred.Picture}}" alt="">
					<h1>{{cred.Titulo}}</h1>
					<a>{{cred.Objeto}}</a>
				</div>
				<div class=" Credito {{cred.Clase}}" >
					<div [innerHTML]="cred.Description | safe:'html'"></div>
				</div>
			</div>
		</ngx-slick>
	</div>
	<div class="BackBanner"></div>
	<div class="NextBanner"></div>
</div>	
		
