.Slider{
    width: 85%;
    margin: 0 auto;
    padding: 0 2rem;
}

.Slider .slide{
    padding: 4rem 0;
    font-size: 0.75rem;
    transition: all 0.28s ease-in-out;
}

.Slider .slide.slick-current{
    padding: 0;
    font-size: 0.8rem;
}

.Slider .slide.slick-current .Credito > div{ 
    max-height: inherit;
    min-height: 500px;
}


.contenedor{
	width: auto;
    position: relative;
    padding-bottom: 1rem;
    min-height: 900px;
}

.iconos ul{
	margin-left: auto;
	margin-right: auto;
    text-align: center;
}

.iconos li{
    display: inline-block;
    font-size: .8em;
    text-align: center;
    margin: 0 25px 0 25px;
    margin-top: 20px;
    margin-bottom: 50px;
    cursor: pointer;
}

.Title{
    text-align: center;
    
}

.Title > div{
    position: relative;
} 

.Title > div img{
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    width: 80%;
}

.Title .label-item{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    padding: 0.5rem 0;
    font-weight: 400;
    width: 120px;
}

.Title span{
    display: none;
}

li .icon-item:hover img, li .icon-item.selected img{
    filter: brightness(100);
}

li .icon-item.item_1{
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #F0C730;
    border-radius: 31px;
}

li .icon-item.item_2{
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #5698AA;
    border-radius: 31px;

}

li .icon-item.item_3{
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #CC4229;
    border-radius: 31px;
}

li .icon-item.item_4{
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #28487E;
    border-radius: 31px;
}

li .icon-item.item_5{
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #BFCA43;
    border-radius: 31px;
}

li .icon-item.item_6{
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #E0992F;
    border-radius: 31px;
}

li .icon-item.item_7{
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #6E2562;
    border-radius: 31px;
}

li .icon-item.JuntaDir{
    border-color: #F0C730;
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #F0C730;
    border-radius: 31px;
}


li .icon-item.ControlSoc{
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #5698AA;
    border-radius: 31px;
}

li .icon-item.Apelaciones{
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #CC4229;
    border-radius: 31px;

}

li .icon-item.RevFisc{
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #28487E;
    border-radius: 31px;
}

li .icon-item.item_11{
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #28487E;
    border-radius: 31px;
}

li .icon-item.JuntaDir:hover, li .icon-item.JuntaDir.selected {
    background-color: #F0C730;
    background-position-x: -482px;
}

li .icon-item.ControlSoc:hover, li .icon-item.ControlSoc.selected{
    background-color: #5698AA;
    background-position-x: -482px;

}

li .icon-item.Apelaciones:hover, li .icon-item.Apelaciones.selected{
    background-color: #CC4229;
    background-position-x: -482px;
}

li .icon-item.RevFisc:hover, li .icon-item.RevFisc.selected{
    background-color: #28487E;
    background-position-x: -482px;
  
}

.Title .label-item.JuntaDir{
    color: #F0C730;

}
.Title .label-item.ControlSoc{
    color: #5698AA;

}
.Title .label-item.Apelaciones{
    color: #CC4229;

}
.Title .label-item.RevFisc{
    color: #28487E;

}


.Title .label-item.item_1{
    color: #F0C730;

}
.Title .label-item.item_2{
    color: #5698AA;

}
.Title .label-item.item_3{
    color: #CC4229;

}
.Title .label-item.item_4{
    color: #28487E;

}
.Title .label-item.item_5{
    color: #BFCA43;

}
.Title .label-item.item_6{
    color: #E0992F;

}
.Title .label-item.item_7{
    color: #6E2562;

}



li .icon-item.item_1:hover, li .icon-item.item_1.selected {
    background-color: #F0C730;
}

li .icon-item.item_2:hover, li .icon-item.item_2.selected{
    background-color: #5698AA;
}

li .icon-item.item_3:hover, li .icon-item.item_3.selected{
    background-color: #CC4229;
    
}

li .icon-item.item_4:hover, li .icon-item.item_4.selected{
    background-color: #28487E;
}

li .icon-item.item_5:hover, li .icon-item.item_5.selected{
    background-color: #BFCA43;
}

li .icon-item.item_6:hover, li .icon-item.item_6.selected{
    background-color: #E0992F;
}

li .icon-item.item_7:hover, li .icon-item.item_7.selected{
    background-color: #6E2562;
}

.previous {
    font-size: 0.9em !important;
    padding: 80px 0;
}

.previous .Objeto{
    text-align: center;
}

.MainContainer{
    z-index: 1000;
    padding: 10px 0;
}


.MainContainer .Objeto {
     width: 100%;
     text-align: center;
}

.MainContainer .Credito{
    height:560px;
    margin-bottom: 30px;
}

.Objeto{
    border-radius: 5px;
    padding-bottom: 15px;
}

.Objeto h1{
    text-align: center;
    color: white;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 1rem;
}

.Objeto a{
    display: block;
    text-align: center;
    color: white;
    font-size: 1rem;
    margin-bottom: 5px;
}

.Objeto img {
    padding: 5px;
    border-radius: 5px;
    
}

.Credito{
    background-color: transparent !important;
    border: solid 2px;
    padding: 10px;
    margin-top: -15px;
    border-radius: 5px;
 
}

.Credito > div{
    max-height: 290px;
    min-height: 250px;
    overflow: hidden;
    padding-bottom: 1rem;
}

.previous .Credito > div{
    height: 400px;
    overflow: hidden;
}

.Credito h1, .Credito strong{
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: bold;
}

/*.Credito a, .Credito span{
    font-size: 0.7rem;
    display: block;
    line-height: 1;
}*/

.Slider .item_1{
    background-color: #F0C730;
    border-color: #F0C730;
}

.Slider .item_2{
    background-color: #5698AA;
    border-color: #5698AA;
}

.Slider .item_3{
    background-color: #CC4229;
    border-color: #CC4229;
}
  
.Slider .item_4{
    background-color: #28487E;
    border-color: #28487E;
}
 
.Slider .item_5{
    background-color: #BFCA43;
    border-color: #BFCA43;
}
 
.Slider .item_6{
    background-color: #E0992F;
    border-color: #E0992F;
}

.Slider .item_7{
    background-color: #6E2562;
    border-color: #6E2562;
}

.Slider .JuntaDir{
    background-color: #F0C730;
    border-color: #F0C730;
}

.Slider .ControlSoc{
    background-color: #5698AA;
    border-color: #5698AA;
}

.Slider .Apelaciones{
    background-color: #CC4229;
    border-color: #CC4229;
}
  
.Slider .RevFisc{
    background-color: #28487E;
    border-color: #28487E;
}

.contenedor .BackBanner{
    left: 15px;
    background-color: rgb(100 100 100);
    border-radius: 150px;
}

.contenedor .NextBanner{
    right: 15px;
    background-color: rgb(100 100 100);
    border-radius: 150px;
}

@media screen and (max-width: 39.9375em) {
    .Slider{
        width: 100%;
    }

    .iconos li{
        margin: 0 !important;
        height: 100px;
        width: 50%;
        text-align: center;
    }

    .iconos li .icon-item {
        margin: 0 auto;
    }

    .Slider .slide{
        padding: 0;
    }

    .Slider .slide.slick-current .Credito > div{
        min-height: auto;
    }

    
}