/*.pageContainer{
    background-color: rgb(240, 240, 240);
}*/

.contenedor{
    width: auto;
    position: relative;
}

.iconos ul{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.iconos li{
    display: inline-block;
    font-size: .8em;
    text-align: center;
    margin: 0 13px 0 13px;
    margin-top: 20px;
    cursor: pointer;
    vertical-align: top;
    text-transform: capitalize;
}

.Title{
    text-align: center;
}

span{
    text-align: center;
    width: 65px;    
}

li .icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border:solid 2px #F0C730;
    position: relative;
    margin: 0 auto;

}

li .icon img{
    width: 85%;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
}

li .icon:hover img, li .icon.selected img{
    filter: brightness(100);
}

li.conv_1 .icon{
    border:solid 2px #F0C730;
    color: #F0C730;
}

li.conv_2 .icon{
    border:solid 2px #5698AA;
    color: #5698AA;
}

li.conv_3 .icon{
    border:solid 2px #CC4229;
    color: #CC4229;
}

li.conv_4 .icon{
    border:solid 2px #28487E;
    color: #28487E;
}

li.conv_5 .icon{
    border:solid 2px #BFCA43;
    color: #BFCA43;
}

li.conv_6 .icon{
    border:solid 2px #E0992F;
    color: #E0992F;
}

li.conv_1 .text-icon{
    color: #F0C730;
}


li.conv_0 .text-icon{
    color: #F0C730;
}

li.conv_2 .text-icon{
    color: #5698AA;
}

li.conv_3 .text-icon{
    color: #CC4229;
}

li.conv_4 .text-icon{
    color: #28487E;
}

li.conv_5 .text-icon{
    color: #BFCA43;
}

li.conv_6 .text-icon{
    color: #E0992F;
}

li.conv_0 .icon:hover, li.conv_0 .icon.selected {
    background-color: #F0C730;
}


li.conv_1 .icon:hover, li.conv_1 .icon.selected {
    background-color: #F0C730;
}

li.conv_2 .icon:hover, li.conv_2 .icon.selected{
    background-color: #5698AA;
}

li.conv_3 .icon:hover, li.conv_3 .icon.selected{
    background-color: #CC4229;
}

li.conv_4 .icon:hover, li.conv_4 .icon.selected{
    background-color: #28487E;
}

li.conv_5 .icon:hover, li.conv_5 .icon.selected{
    background-color: #BFCA43;
}

li.conv_6 .icon:hover, li.conv_6 .icon.selected{
    background-color: #E0992F;
}



li.FilteredConv {
    cursor: pointer;
    position: relative;
    padding: 10px;
}

li.FilteredConv:hover .More {
    display: block;
}
.FilteredConv img{
    border: solid 1px grey;
    border-radius: 15px;
}

.More {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.MoreContainer {
    background-color: rgba(40,72,126,.9);
    color: white !important;
    border: solid 1px grey;
    border-radius: 15px;
    height: 99%;
    padding: 10px;
    }

.Titulo h1{
    color: white;
}

.descript{
    border-top: solid 2px grey;
    margin-top: -20px;
    padding-top: 5px;
    font-size: 0.8rem;
}

.descuento{
    position: relative;
    font-size: 2em;
    text-align: center;
    transform: translateY(30%)
}

.descuento h1{
    color:white;
    margin-top: 0;
}