<div class="L-12 M-12 S-12 row contenedor" *ngIf="Conv">
	<div class="padding-title">
		<div class="Icon Convenios"></div>
		<div class="Title Convenios"><h1 >Convenios y Alianzas</h1></div>
	</div>
	<div class="iconos">
		<ul class="L-10 M-10 S-10 columns centered">
			
			<li class="Title  {{item.class}}" *ngFor="let item of Categorias">
				<div [ngClass]="{selected: Position == item.id}" (click)="ChangePosition(item.id)" class="icon">
					<img src="{{item.image}}" alt="">
				</div>
				<div class="text-icon">{{item.name}}</div>
			</li>
		</ul>
	</div>
	<ul class="FilteredConvContainer" >
		<li class="L-3 M-4 S-6 columns FilteredConv" *ngFor="let conv of FilteredConvenios" [routerLink]="['/convenios', conv.id]"><img src="{{conv.picture}}" alt="">
			<div class="More">
				<div class="MoreContainer">
					<div class="Titulo"><h1>{{conv.Title}}</h1></div>
					<div class="descript" [innerHTML]="conv.Short_Desc | safe:'html'"></div>
					<div class="descuento" *ngIf="conv.Descuento"><h1>{{conv.Descuento}}</h1></div>
					<div class="verMas"></div>
				</div>
			</div>
		</li>
	</ul>
</div>







