<div class="pageContent" *ngIf="data">
	<div class="L-10 M-10 S-10 row pageBanner">
		<div class="L-10 M-8 S-12 columns imagenBanner ContactanosPage" appImagesSizesBanner>
			<img src="./assets/img/BanContact.jpg">
			<div class="PageTitle"><h2>Contáctanos</h2><h3>conoce los servicios que tenemos para tí</h3></div>
		</div>	
		<div class="L-2 M-2 S-12 columns bannerBotones">
			<a class="L-12 M-12 S-6 columns OfVirtual" href="https://servicios2.inube.com.co/linix/v6/860006643/login.php?nit=860006643" target="_blank">
				<div class="icono"><img src="./assets/img/OfVirtIcon.png"></div>
				<div class="texto"><b>Oficina<b class="Resaltar"> virtual</b></b></div>
			</a>
			<div class="L-12 M-12 S-6 columns Vinculate" [routerLink]="['/vinculate']">
				<div class="icono"><img src="./assets/img/vinculIcon.png"></div>
				<div class="texto"><b>Vincúlate<b class="Resaltar"> ahora</b></b></div>
			</div>
		</div>
	</div>	
	<div class="L-10 M-10 S-10 row pageContainer">
		<div class="L-12 M-12 S-12 row contenedor">
			<div class="iconos">
				<ul class="L-10 M-10 S-10 columns centered">
					<li class="Title" *ngFor="let item of data">
						<div [ngClass]="{selected: curr_data.id == item.id}" (click)="ChangePosition(item.id-1)" class="{{item.Clase}} icon-title"></div>
						<div class="text-title">{{item.Area}}</div>
					</li>
				</ul>
			</div>
			<div class="datos">
				<div class="mailIcon"></div>
				<div class="mail">{{curr_data.Correo}}</div>
				<div class="telIcon"></div>
				<div class="tel">{{curr_data.Ext}}</div>
			</div>
		</div>
	</div>
</div>	