.pageContainer{
    /*background-color: rgb(240, 240, 240);*/
}

.contenedor{
    width: auto;
    position: relative;
}

.iconos ul{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.iconos li{
    display: inline-block;
    font-size: .8em;
    text-align: center;
    margin: 0 13px 0 13px;
    margin-top: 20px;
    margin-bottom: 50px;
    cursor: pointer;
    vertical-align: top;
}

.Title{
    text-align: center;
}

span{
    text-align: center;
    width: 65px;    
}

li .icon_1{
    margin: 0 auto;
    background-image: url(/assets/img/assets.png);
    background-position: -368px -627px;
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #F0C730;
    border-radius: 31px;
    color: #F0C730;
}

li .icon_2{
    margin: 0 auto;
    background-image: url(/assets/img/assets.png);
    background-position: -368px -684px;
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #5698AA;
    border-radius: 31px;
    color: #5698AA;
}

li .icon_3{
    margin: 0 auto;
    background-image: url(/assets/img/assets.png);
    background-position: -368px -740px;
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #CC4229;
    border-radius: 31px;
    color: #CC4229;
}

li .icon_4{
    margin: 0 auto;
    background-image: url(/assets/img/assets.png);
    background-position: -368px -798px;
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #28487E;
    border-radius: 31px;
    color: #28487E;
}

li .icon_5{
    margin: 0 auto;
    background-image: url(/assets/img/assets.png);
    background-position: -368px -854px;
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #BFCA43;
    border-radius: 31px;
    color: #BFCA43;
}

li .icon_6{
    margin: 0 auto;
    background-image: url(/assets/img/assets.png);
    background-position: -368px -911px;
    padding-top: 60px;
    width: 62px;
    height: 60px;
    border:solid 2px #E0992F;
    border-radius: 31px;
    color: #E0992F;
}


li .icon_1:hover, li .icon_1.selected {
    background-color: #F0C730;
    background-position-x: -483px;
}

li .icon_2:hover, li .icon_2.selected{
    background-color: #5698AA;
    background-position-x: -483px;

}

li .icon_3:hover, li .icon_3.selected{
    background-color: #CC4229;
    background-position-x: -483px;
}

li .icon_4:hover, li .icon_4.selected{
    background-color: #28487E;
    background-position-x: -483px;
  
}

li .icon_5:hover, li .icon_5.selected{
    background-color: #BFCA43;
    background-position-x: -483px;
   
}

li .icon_6:hover, li .icon_6.selected{
    background-color: #E0992F;
    background-position-x: -483px;
}

.datos{
    text-align: center;
    vertical-align: middle;
}

.mailIcon {
    width: 55px;
    height: 55px;
    background-image: url(/assets/img/assets.png); 
    background-position: -57px -375px;
    display: inline-block;
    margin:0 10px 0 10px;
}

.telIcon {
    display: inline-block;
    width: 55px;
    height: 55px;
    background-image: url(/assets/img/assets.png); 
    background-position: 0 -375px;
    margin:0 10px 0 10px; 
}

.mail{
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    margin:0 10px 0 10px;
}

.tel {
    height: 60px;
    vertical-align: middle;
    display: inline-block;
    margin:0 10px 0 10px;
}

@media screen and (max-width: 39.9375em) {
    .Title{
        width: 100%;
        text-align: left !important;
        margin-bottom: 0.5rem !important;

    }

    .Title .icon-title{
        display: inline-block;
        vertical-align: middle;
        margin-right: 1rem;
    }

    .Title .text-title{
        display: inline-block;
        vertical-align: middle;
        font-size: 1rem;
    }

    .telIcon{
        display: block;
        margin: 0 auto 0.2rem;
    }
}