 <div class="wrapp row">
 	<header>
 		<div class="grid-x">
 			<div class="cell small-4">
 			  <img src="/assets/logo.svg" alt="">	
 			</div>
 			<div class="cell small-8">
 				<h2>Administrador</h2>	

 			</div>
 			<div class="cell small-12">
 				<ul class="menu align-right">
 					<li><a><%= @opinion ? "Editar Opinion" : "Crear Opinion" %></a></li>
 					<li><a>/</a></li>
 					<li><a href="/administrador">Volver</a></li>
 				</ul>
 			</div>
 		</div>
 	</header>
 	<%if flash[:msg]%> 
 	<ul> 
 		<% flash[:msg].each do |m|%>
 		<li><%=m[0]%></li>
 		<% end %>
 	</ul>
 	<%end%>	

 	<%= form_tag("/new_opinion", multipart: true)  do %>
 	<h1><%= @committe ? "Editar Opinion" : "Crear Opinion" %></h1>

 	<%= hidden_field_tag 'id', !@opinion.nil? ? @opinion.id : nil %>

 	<div class="grid-x grid-padding-x">
 		<label class="cell small-12 medium-6">
 			Nombre persona: <%=text_field_tag "name", @opinion ? @opinion.name : nil ,placeholder: "Escriba el Nombre persona", size: 75, required:true%>
 		</label>
 		<label class="cell small-12 medium-6">
 			Cargo: <%=text_field_tag "position",  @opinion ? @opinion.position : nil ,placeholder: 'Escriba Cargo', size: 80, required:true %>
 		</label>
 		<label class="cell small-12 medium-12">
 			Opinión: <%= text_area_tag "opinion", (@opinion ? @opinion.opinion : nil),rows: 30, cols: 100, placeholder: "Escriba opinión" , size: "75x10", required:true, maxlength: 150 %> 
 			<span class="error-description"></span>
 		</label>
 		<div class="cell small-12 medium-12">
 			<%=submit_tag @opinion ? "Editar" : "Crear", class: 'button' %>	
 		</div>
 	</div>
 	
 	<%end%>	
 </div>