 <div class="wrapp row">
 	<header>
 		<div class="grid-x">
 			<div class="cell small-4">
 			  <img src="/assets/logo.svg" alt="">	
 			</div>
 			<div class="cell small-8">
 				<h2>Administrador</h2>	

 			</div>
 			<div class="cell small-12">
 				<ul class="menu align-right">
 					<li><a><%= @committe ? "Editar Junta y Comites" : "Crear Junta y Comites" %></a></li>
 					<li><a>/</a></li>
 					<li><a href="/administrador">Volver</a></li>
 				</ul>
 			</div>
 		</div>
 	</header>
 	<%if flash[:msg]%> 
 	<ul> 
 		<% flash[:msg].each do |m|%>
 		<li><%=m[0]%></li>
 		<% end %>
 	</ul>
 	<%end%>	

 	<%= form_tag("/new_comite", multipart: true)  do %>
 	<h1><%= @committe ? "Editar Junta y Comites" : "Crear Junta y Comites" %></h1>

 	<%= hidden_field_tag 'id', !@committe.nil? ? @committe.id : nil %>

 	<div class="grid-x grid-padding-x">
 		<label class="cell small-12 medium-6">
 			Titulo: <%=text_field_tag "title", @committe ? @committe.title : nil ,placeholder: "Escriba el titulo", size: 75, required:true%>
 		</label>
 		<label class="cell small-12 medium-6">
 			Subtitulo: <%=text_field_tag "sub_title",  @committe ? @committe.sub_title : nil ,placeholder: 'Escriba un Subtitulo', size: 80, required:true %>
 		</label>
 		<label class="cell small-12 medium-12">
 			Descripcion: <%= text_area_tag "description", (@committe ? @committe.description : nil),rows: 30, cols: 100, placeholder: "Escriba una descripcion" , size: "75x10", required:true %> 
 			<span class="error-description"></span>
 		</label>
 		<div class="cell small-12 medium-12">
 			<%=submit_tag @committe ? "Editar" : "Crear", class: 'button' %>	
 		</div>
 	</div>
 	
 	<%end%>	
 	<script>
 		CKEDITOR.replace("description");    
 	</script>
 </div>