<div class="wrapp row">
	<header>
		<div class="grid-x">
			<div class="cell small-4">
				  <img src="/assets/logo.svg" alt="">	
			</div>
			<div class="cell small-8">
				<h2>Administrador</h2>	

			</div>
			<div class="cell small-12">
				<ul class="menu align-right">
					<li><a><%= 
						case params[:tipo].to_i
						when 1
							@content ? "Editar Servicios" : "Crear Servicios"
						when 2
							@content ? "Editar Beneficios" : "Crear Beneficios"
						when 3
							@content ? "Editar Vinculate" : "Crear Vinculate"
							end	%>
						</a></li>
						<li><a>/</a></li>
						<li><a href="/administrador">Volver</a></li>
					</ul>
				</div>
			</div>
		</header>
		<%if flash[:msg]%> 
		<ul>
			<% flash[:msg].each do |m|%>
			<li><%=m[0]%></li> 
			<% end %>
		</ul>
		<%end%>	


		<%= form_tag('/new_contenido', multipart: true) do %>
		<h1><%= 
		case params[:tipo].to_i
		when 1
			@content ? "Editar Servicios" : "Crear Servicios"
		when 2
			@content ? "Editar Beneficios" : "Crear Beneficios"
		when 3
			@content ? "Editar Vinculate" : "Crear Vinculate"
			end	%>
		</h1> 
		<%= hidden_field_tag 'id', !@content.nil? ? @content.id : nil %>
		<div class="grid-x grid-padding-x">
			<label class="cell small-12 medium-3">
					Imagen: <%=file_field_tag 'image', accept: 'image/png,image/gif,image/jpeg' %>
					<%= !@content.nil? ? (image_tag(@content.image_url, height: '100', width: '250')) : ''%>
			</label>
			<label class="cell small-12 medium-9">
				<div class="grid-x grid-padding-x">
					<label class="cell small-12 medium-12">
						Tipo de contenido: <%= select_tag "type_content_id", options_from_collection_for_select(@type_content, "id" , "name", @content ? @content.type_content_id : nil), include_blank: "Seleccione",required:true %>				
					</label>
				</div>
			</label>
			<label class="cell small-12 medium-12">
				Descripcion: <%= text_area_tag "description", (@content ? @content.description : nil) ,rows: 30, cols: 100, placeholder: 'Escriba una descripcion', size: "75x10", required:true %> 
				<span class="error-description"></span>
			</label>
			<label class="cell small-12 medium-12">
				<%=submit_tag @content ? "Editar" : "Crear", class: 'button' %> 
			</label>
		</div>

		<%end%>
		<script>
			CKEDITOR.replace("description");    
		</script>
</div>
