
<div class="wrapp row">
	<header>
		<div class="grid-x">
			<div class="cell small-4">
				  <img src="/assets/logo.svg" alt="">
			</div>
			<div class="cell small-8">
				<h2>Administrador</h2>	

			</div>
			<div class="cell small-12">
				<ul class="menu align-right">
					<li><a><%= @agreement ? "Editar Convenio" : "Crear Convenio"  %></a></li>
					<li><a>/</a></li>
					<li><a href="/administrador">Volver</a></li>
				</ul>
			</div>
		</div>
	</header>
	<%if flash[:msg]%> 
	<ul> 
		<% flash[:msg].each do |m|%>
		<li><%=m[0]%></li>
		<% end %>
	</ul> 
	<%end%>

	<%= form_tag('/new_convenio', multipart: true, id:'create_agreement')  do %>  
	<h1><%= @agreement ? "Editar Convenio" : "Crear Convenio"  %></h1>
	<div class="grid-x grid-padding-x">
		<div class="cell small-12 medium-3">
				<label>Imagen</label>
			<label class="input-image">
				<span class="cover-image">
					Tamaño de imagen 400px x 400px
				</span>
		<label class="cell small-12 medium-3">
			<%= !@agreement.nil? ? (image_tag(@agreement.image_url, height: '100', width: '250')) : ''%>	
			<%=
			required_image = @agreement.nil? ? true : false
			file_field_tag 'image', accept: 'image/svg, image/png,image/gif,image/jpeg', required:required_image
			%>
			</label>

		</div>
		<label class="cell small-12 medium-9">
			<div class="grid-x grid-padding-x">
				<label class="cell small-12 medium-12">
					Tipo convenio: <%=select_tag "type_agreement_id", options_from_collection_for_select(@type_agreement, "id", "name", @agreement ? @agreement.type_agreement_id : nil), include_blank: "Seleccione", required:true%>
				</label>
				<label class="cell small-12 medium-12">
					Titulo: <%=text_field_tag 'title', @agreement ? @agreement.title : nil ,placeholder: 'Escriba el titulo', size: 75, required:true%>
				</label>
				<label class="cell small-12 medium-12">
					Descuento: <%=text_field_tag 'discount',  @agreement ? @agreement.discount : nil,placeholder: 'Descuento', size: 75%>
				</label>

			</div>
		</label>
		<div class="cell small-12 medium-12">
			<div class="box-input-images">
				<input type="file" multiple id="images" name="images[]" class="box_file">
				<label for="images" class="box"><strong>Seleccione sus imagenes</strong><span class="box_dragndrop"> o arrastrelas aquí</span></label>
				<ul class="list-drag-images">
					<% if @agreement_has_file %>
						<% @agreement_has_file.each do |af| %>
						<li class="slick-slide slick-current slick-active" data-id="<%=af.id%>">
							<span class="delete-item">BORRAR</span>
							<img src="<%=af.url%>">
						</li>
						<% end %>
					<% end %>
				</ul>
			</div>
		</div>
		<label class="cell small-12 medium-12">
			Descripcion: <%=text_area_tag 'description',(@agreement ? @agreement.description : nil),rows: 30, cols: 100, placeholder: 'Escriba una descripcion' ,size: "75x10"%>
			<span class="error-description"></span>
		</label>
		<label class="cell small-12 medium-12">
			<%=submit_tag @agreement ? "Editar" : "Crear", class:'button'%>
		</label>

	</div>
	
	<%= hidden_field_tag 'id', !@agreement.nil? ? @agreement.id : nil %>

	
	<% end %>
	<script>
		CKEDITOR.replace("description");    
	</script>