
<div class="wrapp row">
	<header>
		<div class="grid-x">
			<div class="cell small-4">
				  <img src="/assets/logo.svg" alt="">
			</div>
			<div class="cell small-8">
				<h2>Administrador</h2>	

			</div>
			<div class="cell small-12">
				<ul class="menu align-right">
					<li><a><%= @type_conv ? "Editar Tipo Convenio/crédito" : "Crear Tipo Convenio/crédito"  %></a></li>
					<li><a>/</a></li>
					<li><a href="/administrador">Volver</a></li>
				</ul>
			</div>
		</div>
	</header>
	<%if flash[:msg]%> 
	<ul> 
		<% flash[:msg].each do |m|%>
		<li><%=m[0]%></li>
		<% end %>
	</ul> 
	<%end%>

	<%= form_tag('/new_tipos', multipart: true, id:'create_agreement_type')  do %>  
	<h1><%= @type_conv ? "Editar Tipo Convenio/crédito" : "Crear Tipo Convenio/crédito"  %></h1>
	<% if @type_conv %>
		<input type="hidden" name="tipo" value="<%=params[:tipo]%>">
		<input type="hidden" name="id" value="<%=params[:id]%>">
	<% end %>
	<div class="grid-x grid-padding-x">
		<div class="cell small-12 medium-3">
				<label>Imagen</label>
			<label class="input-image">
				<span class="cover-image">
					Adjunte imagen de icono
				</span>
		<label class="cell small-12 medium-3">
			<%= !@type_conv.nil? ? (image_tag(@type_conv.image_url, height: '100', width: '250')) : ''%>	
			<%=
			required_image = @type_conv.nil? ? true : false
			file_field_tag 'image', accept: 'image/svg+xml,image/png,image/gif,image/jpeg', required:required_image
			%>
			</label>

		</div>
		<label class="cell small-12 medium-9">
			<div class="grid-x grid-padding-x">
				<label class="cell small-12 medium-12">
					Titulo: <%=text_field_tag 'title', @type_conv ? @type_conv.name : nil ,placeholder: 'Escriba el titulo', size: 75, required:true%>
				</label>
				<label class="cell small-12 medium-12">
					Tipo: 
					<select name="tipo" <%= @type_conv ? 'disabled' : '' %> >
						<% @types.each do |t| %>
							<option value="<%=t['id']%>" <%=params[:tipo].to_i==t['id'].to_i ? 'selected' : ''%>><%=t["name"]%></option>
						<% end %>
					</select>
				</label>
			</div>
		</label>
		<label class="cell small-12 medium-12">
			<%=submit_tag @type_conv ? "Editar" : "Crear", class:'button'%>
		</label>
	</div>
	<% end %>