<div class="wrapp row">
	<header>
		<div class="grid-x">
			<div class="cell small-4">
				  <img src="/assets/logo.svg" alt="">	
			</div>
			<div class="cell small-8">
				<h2>Administrador</h2>	

			</div>
			<div class="cell small-12">
				<ul class="menu align-right">
					<li><a><%=@novedad ? "Editar Novedad" : "Crear Novedad"%></a></li>
					<li><a>/</a></li>
					<li><a href="/administrador">Volver</a></li>
				</ul>
			</div>
		</div>
	</header>
	<% if flash[:msg] %>
	<ul>
		<% flash[:msg].each do |m|%>
		<li><%=m[0]%></li>
		<%end%>
	</ul>
	<%end%>
	<%= form_tag('/new_novedad', multipart: true, novalidate:true)  do %>
	<h1><%=@novedad ? "Editar Novedad" : "Crear Novedad"%></h1>
	<%= hidden_field_tag 'id', !@novedad.nil? ? @novedad.id : nil %>

	<div class="grid-x grid-padding-x">
		<label class="cell small-12 medium-3">
			Imagen:
			<%=file_field_tag 'image', accept: 'image/png,image/gif,image/jpeg' %>
			<%=!@novedad.nil? ? (image_tag(@novedad.image_url, height: '100', width: '250')) : '' %>
		</label>
		<label class="cell small-12 medium-9">
			<div class="grid-x grid-padding-x">
				<label class="cell small-12 medium-4">
					Título: <%=text_field_tag 'title', @novedad ? @novedad.title : nil ,placeholder: 'Escriba el titulo', size: 75, required:true%>
				</label>
				<label class="cell small-12 medium-4">
					Link: <%=text_field_tag 'link',  @novedad ? @novedad.link : nil,placeholder: 'Link', size: 75%>
				</label>
				<!--<label class="cell small-12 medium-4">
					Es principal: <%=check_box_tag 'is_principal', true, @novedad ? (@novedad.is_principal ? true : false) : nil%>
				</label>-->
				<label class="cell small-12 medium-12">
					Descripcion corta: <%=text_field_tag 'short_description',  @novedad ? @novedad.short_description : nil,placeholder: 'Escriba una descripcion corta', size: 150, required:true %>
				</label>
				
				<div class="cell small-12 medium-12 radio-container">
					<% (1..8).each do |p| %>
						<% if @posiciones_ocupadas.any? {|h| h.position == p} %>
						<label>
							<%= radio_button_tag nil, p, disabled: true,checked: true %> Posición <%=p%> 
						</label>
						<% else %>
							<label>
							<%= radio_button_tag 'position', p ,false, checked: @novedad ? (@novedad.position == p.to_i ? true : false) : false %> Posición <%=p%> 
							</label>
						<% end %>
					<% end %>
				</div>
			</div>
		</label>

		
		
		<label class="cell small-12 medium-12">
			<br>
			Descripción: <%=text_area_tag "description",(@novedad ? @novedad.description : nil), rows: 30, cols: 100, placeholder: "Escriba una descripcion", size: "75x10", required:true, class:'cktext required' %>
			<span class="error-description"></span>
		</label>
		
		
		
		<label class="cell small-12 medium-12">
			<%=submit_tag @novedad ? "Editar" : "Crear", class:'button'%>			
		</label>

	</div>


	<% end %>
	<script>
		CKEDITOR.replace("description", {
			customConfig: 'custom_config.js'
		});
	</script>
</div>