 <div class="wrapp row">
 	<header>
 		<div class="grid-x">
 			<div class="cell small-4">
 			  <img src="/assets/logo.svg" alt="">	
 			</div>
 			<div class="cell small-8">
 				<h2>Administrador</h2>	

 			</div>
 			<div class="cell small-12">
 				<ul class="menu align-right">
 					<li><a><%= @contact ? "Editar Contacto" : "Crear Contacto" %></a></li>
 					<li><a>/</a></li>
 					<li><a href="/administrador">Volver</a></li>
 				</ul>
 			</div>
 		</div>
 	</header>
 	<%if flash[:msg]%> 
 	<ul> 
 		<% flash[:msg].each do |m|%>
 		<li><%=m[0]%></li>
 		<% end %>
 	</ul>
 	<%end%>	

 	<%= form_tag("/new_contacto", multipart: true)  do %>
 	<h1><%= @committe ? "Editar Contacto" : "Crear Contacto" %></h1>

 	<%= hidden_field_tag 'id', !@contact.nil? ? @contact.id : nil %>

 	<div class="grid-x grid-padding-x">
 		<label class="cell small-12 medium-6">
 			Titulo: <%=text_field_tag "title", @contact ? @contact.title : nil ,placeholder: "Escriba el titulo", size: 75, required:true%>
 		</label>
 		<label class="cell small-12 medium-6">
 			Email: <%=text_field_tag "email",  @contact ? @contact.email : nil ,placeholder: 'Escriba Email', size: 80, required:true %>
 		</label>
 		<label class="cell small-12 medium-12">
 			Telefóno: <%= text_field_tag "telephone",  @contact ? @contact.telephone : nil ,placeholder: 'Escriba Telefono', size: 80, required:true  %> 
 			<span class="error-description"></span>
 		</label>
 		<div class="cell small-12 medium-12">
 			<%=submit_tag @contact ? "Editar" : "Crear", class: 'button' %>	
 		</div>
 	</div>
 	
 	<%end%>	
 </div>