<div class="wrapp row">
	<header>
		<div class="grid-x">
			<div class="cell small-4">
				  <img src="/assets/logo.svg" alt="">	
			</div>
			<div class="cell small-8">
				<h2>Administrador</h2>	

			</div>
			<div class="cell small-12">
				<ul class="menu align-right">
					<li><a><%=
					case params[:tipo].to_i
					when 1
						@credit ? "Editar Credito Vinculate" : "Crear Credito Vinculate"		
					when 2
						@credit ? "Editar Credito Servicios" : "Crear Credito Servicios"	
						end	%>	</a></li>
						<li><a>/</a></li>
						<li><a href="/administrador">Volver</a></li>
					</ul>
				</div>
			</div>
		</header>
		<%if flash[:msg]%> 
		<ul> 
			<% flash[:msg].each do |m|%>
			<li><%=m[0]%></li>
			<% end %>
		</ul>
		<%end%>	

		<%= form_tag('/new_credito', multipart: true)  do %>
		<h1><%=
		case params[:tipo].to_i
		when 1
			@credit ? "Editar Credito Vinculate" : "Crear Credito Vinculate"		
		when 2
			@credit ? "Editar Credito Servicios" : "Crear Credito Servicios"	
			end	%>	
		</h1>
		<%=hidden_field_tag 'id', !@credit.nil? ? @credit.id : nil %>
		<div class="grid-x grid-padding-x">
			<label class="cell small-12 medium-3">
				Imagen <%=file_field_tag 'image', accept: 'image/png,image/gif,image/jpeg' %>

				<%= !@credit.nil? ? (image_tag(@credit.image_url, height: '100', width: '250')) : ''%>	
			</label>
			<label class="cell small-12 medium-9">
				<div class="grid-x grid-padding-x">
					<%if params[:tipo].to_i==2%>
					<label class="cell small-12 medium-12">
						Descripcion Corta <%= text_field_tag 'sub_title', (@credit ? @credit.sub_title : nil), placeholder: 'Escriba subtitulo', size: 75,required:true %>	
					</label>
					<%end%>
					<label class="cell small-12 medium-12">
						Tipo de credito: <%= select_tag "type_credit_id", options_from_collection_for_select(@type_credit, "id" , "name", @credit ? @credit.type_credit_id : nil), include_blank: "Seleccione",required:true %>
					</label>
				</div>
			</label>
			<label class="cell small-12 medium-12">
				Descripcion: <%= text_area_tag 'description', (@credit ? @credit.description : nil) ,rows: 100, cols: 100, placeholder: 'Escriba una descripcion' , size: "75x10",required:true %> 	
				<span class="error-description"></span>
			</label>
			<label class="cell small-12 medium-12">
				<%=submit_tag @credit ? "Editar" : "Crear", class:'button'%> 			
			</label>
		</div>

		
		<% end %>
		<script>
			CKEDITOR.replace("description");    
		</script>
	</div>
