<div class="wrapp row">
	<header>
		<div class="grid-x">
			<div class="cell small-4">
				  <img src="/assets/logo.svg" alt="">	
			</div>
			<div class="cell small-8">
				<h2>Administrador</h2>	

			</div>
			<div class="cell small-12">
				<ul class="menu align-right">
					<li><a>Editar Documento
						</a></li>
						<li><a href="/administrador">Volver</a></li>
					</ul>
				</div>
			</div>
		</header>
		<%if flash[:msg]%> 
		<ul>
			<% flash[:msg].each do |m|%>
			<li><%=m[0]%></li> 
			<% end %>
		</ul>
		<%end%>	

		<%= form_tag('/update_file', multipart: true) do %>
		<h1>Editar Documento</h1> 
		<%= hidden_field_tag 'id', @document.id %>
		<div class="grid-x grid-padding-x">
			<label class="cell small-12 medium-12">
	 			Nombre: 
	 		</label>
	 			<%=@document.name%>
			<label class="cell small-12 medium-12">
					Archivo: <%=file_field_tag 'file' %>
					<a href="<%=@document.file_url%>" target="_blank">Link</a>
			</label>
			<label class="cell small-12 medium-12">
				<%=submit_tag "Editar", class: 'button' %> 
			</label>
		</div>

		<%end%>
</div>
