<div class="wrapp row">
	<header>
		<div class="grid-x">
			<div class="cell small-4">
				  <img src="/assets/logo.svg" alt="">
			</div>
			<div class="cell small-8">
				<h2>Administrador</h2>	

			</div>
			<div class="cell small-12">
				<ul class="menu main-menu">
					<li><a href="#0">Novedades</a></li>
					<li><a href="#1">Convenios</a></li>
					<li><a href="#2">Creditos servicios</a></li>
					<li><a href="#3">Creditos vinculate</a></li>
					<li><a href="#4">Servicios</a></li>
					<li><a href="#5">Beneficios</a></li>
					<li><a href="#6">Vinculate</a></li>
					<li><a href="#7">Junta y comites</a></li>
					<li><a href="#8">Registro de asociados</a></li>
					<li><%= link_to('Cerrar sesión', destroy_admin_session_path, method: :delete, class:'button-logout') %></li>
				</ul>
			</div>
		</div>
	</header>
	<div id="accordion">	
		<h1>
			Novedades
			<% if @novedades.size < 8 %>
				<a href="/crear_novedad">Crear novedad</a>
			<% end %>
		</h1> 
		<div>
			<p>
				<table border="1" width="100%">
					<thead>
						<tr>
							<th width="10%">IMAGEN</th>
							<th width="10%">TÍTULO</th>
							<th width="15%">DESCRIPCIÓN CORTA</th>
							<th width="35%">DESCRIPCIÓN</th>
							<th width="10%">LINK</th>
							<th width="5%">POSICIÓN</th>
							<th width="5%">ESTADO</th>
							<th width="10%">ACCIÓN</th>
						</tr>
					</thead>
					<tbody>
						<% @novedades.each do |n|%>
						<tr>									
							<td><%= !n.image_url.nil? ? (image_tag(n.image_url, height: '150', width: '300')) : '' %></td>
							<td><%=n.title%></td>
							<td><%=n.short_description%></td>
							<td><%=n.description.html_safe%></td>
							<td><%=n.link%></td>
							<td><%=n.is_principal%><%=n.position%></td>
							<td><%=n.active ? 'Activo' : 'Oculto' %></td>
							<td><a href="/editar_novedad/<%=n.id%>">Ver y editar</a> / 
								<% if n.active%>
									<a href="/delete_novedad/<%=n.id%>" onclick="return confirm('Confirma que desea ocultar la novedad?')">Ocultar</a></td>
								<% else %>
									<a href="/active_novedad/<%=n.id%>" onclick="return confirm('Confirma que desea mostrar la novedad?')">Mostrar</a></td> 
								<% end%>	
						</tr>
						<% end %>
					</tbody>
				</table>
			</p>
		</div>

		<h1>
			Convenios
			<a href="/crear_convenio">Crear convenio</a>
		</h1>
		<div>
			<p>
				<table  border="1" width="100%">
					<thead>
						<tr>
							<th width="10%">IMAGEN</th>
							<th width="10%">TIPO DE CONVENIO</th>
							<th width="15%">TITULO</th>
							<th width="35%">DESCRIPCIÓN</th>
							<th width="10%">DESCUENTO</th>	
							<th width="10%">ESTADO</th>
							<th width="10%">ACCIÓN</th>
						</tr>
					</thead>
					<tbody>
						<% @convenios.each do |c|%>
						<tr>									
							<td><%= !c.image_url.nil? ? (image_tag(c.image_url, height: '150', width: '300')) : ''%></td>
							<td><%=c.type_agreement.name%></td>	
							<td><%=c.title%></td>
							<td><%=c.description.html_safe%></td>
							<td><%=c.discount%></td>
							<td><%=c.active ? 'Activo' : 'Oculto'%></td>
							<td><a href="/editar_convenio/<%=c.id%>">Ver y editar</a>/
							<% if c.active%>							
								 <a href="/delete_convenio/<%=c.id%>" onclick="return confirm('Confirma que desea ocultar el convenio?')">Ocultar</a></td>		
							<% else %>
								<a href="/active_convenio/<%=c.id%>" onclick="return confirm('Confirma que desea mostrar el convenio?')">Mostrar</a></td>
							<% end%>	
						</tr>
						<% end %>
					</tbody>
				</table>
			</p>
		</div>

		<h1>
			Creditos servicios
			<a href="/crear_credito/2">Crear credito</a>
		</h1>
		<div>
			<p>
				<table border="1" width="100%">
					<thead>
						<tr>
							<th>IMAGEN</th>
							<th>SUBTITULO</th>
							<th>TIPO DE CREDITO</th>
							<th>DESCRIPCIÓN</th>	
							<th>ESTADO</th>						
							<th>ACCIÓN</th>
						</tr>
					</thead>
					<tbody>
						<% @credito_servicio.each do |a|%>
						<tr>											
							<td><%= !a.image_url.nil? ? (image_tag(a.image_url, height: '150', width: '300')) : ''%></td>
							<td><%=a.sub_title%></td>
							<td><%=a.type_credit.name%></td>
							<td><%=a.description.html_safe%></td>
							<td><%=a.active ? 'Activo' : 'Oculto' %></td>
							<td><a href="/editar_credito/2/<%=a.id%>">Ver y editar</a> / 
								<% if a.active%>		
									<a href="/delete_credito/<%=a.id%>" onclick="return confirm('Confirma que desea ocultar el crédito?')">Ocultar</a></td>		
								<% else %>
									<a href="/active_credito/<%=a.id%>" onclick="return confirm('Confirma que desea mostrar el crédito?')">Mostrar</a></td>	
								<% end %>		
						</tr>
						<% end %>
					</tbody>
				</table>
			</p>
		</div>

		<h1>
			Creditos vinculate
			<a href="/crear_credito/1">Crear credito</a>
		</h1>
		<div>
			<p>
				<table border="1" width="100%">
					<thead>
						<tr>
							<th>IMAGEN</th>
							<th>TIPO DE CREDITO</th>
							<th>DESCRIPCIÓN</th>
							<th>ESTADO</th>								
							<th>ACCIÓN</th>
						</tr>
					</thead>
					<tbody>
						<% @credito_vinculate.each do |b|%>
						<tr>											
							<td><%= !b.image_url.nil? ? (image_tag(b.image_url, height: '150', width: '300')) : ''%></td>
							<td><%=b.type_credit.name%></td>
							<td><%=b.description.html_safe%></td>	
							<td><%=b.active ? 'Activo' : 'Oculto' %></td>
							<td><a href="/editar_credito/1/<%=b.id%>">Ver y editar</a> / 
								<% if b.active%>		
									<a href="/delete_credito/<%=b.id%>" onclick="return confirm('Confirma que desea ocultar el crédito?')">Ocultar</a></td>		
								<% else %>
									<a href="/active_credito/<%=b.id%>" onclick="return confirm('Confirma que desea mostrar el crédito?')">Mostrar</a></td>	
								<% end %>
						</tr>
						<% end %>
					</tbody>
				</table>
			</p>
		</div>

		<h1>
			Servicios
			<a href="/crear_contenido/1">Crear Servicios</a>
		</h1>
		<div>
			<p>
				<table border="1" width="100%">
					<thead>
						<tr>
							<th>IMAGEN</th>
							<th>TIPO</th>
							<th>DESCRIPCIÓN</th>	
							<th>ESTADO</th>							
							<th>ACCIÓN</th>
						</tr>
					</thead>
					<tbody>
						<% @servicios.each do |d|%>
						<tr>									
							<td><%= !d.image_url.nil? ? (image_tag(d.image_url, height: '150', width: '300')) : ''%></td>
							<td><%=d.type_content.name%></td>
							<td><%=d.description.html_safe%></td>
							<td><%=d.active ? 'Activo' : 'Oculto' %></td>
							<td><a href="/editar_contenido/1/<%=d.id%>">Ver y editar </a> /
								<% if d.active %>
								 	<a href="/delete_contenido/<%=d.id%>" onclick="return confirm('Confirma que desea ocultar el servicio?')">Ocultar</a></td>	
								<% else %>
									<a href="/active_contenido/<%=d.id%>" onclick="return confirm('Confirma que desea mostrar el servicio?')">Mostrar</a></td>
								<% end %> 		
						</tr>
						<% end %>
					</tbody>
				</table>
			</p>
		</div> 	

		<h1>
			Beneficios
			<a href="/crear_contenido/2">Crear Beneficios</a>
		</h1>
		<div>
			<p>
				<table border="1" width="100%">
					<thead>
						<tr>
							<th>IMAGEN</th>
							<th>TIPO</th>
							<th>DESCRIPCIÓN</th>
							<th>ESTADO</th>	
							<th>ACCIÓN</th>
						</tr>
					</thead>
					<tbody>
						<% @beneficios.each do |f|%>
						<tr>									
							<td><%= !f.image_url.nil? ? (image_tag(f.image_url, height: '150', width: '300')) : ''%></td>
							<td><%=f.type_content.name%></td>
							<td><%=f.description.html_safe%></td>
							<td><%=f.active ? 'Activo' : 'Oculto' %></td>
							<td><a href="/editar_contenido/2/<%=f.id%>">Ver y editar </a> / 
								<% if f.active %>
									<a href="/delete_contenido/<%=f.id%>" onclick="return confirm('Confirma que desea ocultar el beneficio?')">Ocultar</a></td>
								<% else %>
									<a href="/active_contenido/<%=f.id%>" onclick="return confirm('Confirma que desea Mostrar el beneficio?')">Mostrar</a></td>
								<% end %> 		
						</tr>
						<% end %>
					</tbody>
				</table>
			</p>
		</div> 	

		<h1>
			Vinculate
			<a href="/crear_contenido/3">Crear Vinculate</a>
		</h1>
		<div>
			<p>
				<table border="1" width="100%">
					<thead>
						<tr>
							<th>IMAGEN</th>
							<th>TIPO</th>
							<th>DESCRIPCIÓN</th>
							<th>ESTADO</th>	
							<th>ACCIÓN</th>
						</tr>
					</thead>
					<tbody>
						<% @vinculate.each do |g|%>
						<tr>									
							<td><%= !g.image_url.nil? ? (image_tag(g.image_url, height: '150', width: '300')) : ''%></td>
							<td><%=g.type_content.name%></td>
							<td><%=g.description.html_safe%></td>
							<td><%=g.active ? 'Activo' : 'Oculto' %></td>
							<td><a href="/editar_contenido/3/<%=g.id%>">Ver y editar </a> /
								<% if g.active %>
									<a href="/delete_contenido/<%=g.id%>" onclick="return confirm('Confirma que desea ocultar?')">Ocultar</a></td>	
								<% else %>
									<a href="/active_contenido/<%=g.id%>" onclick="return confirm('Confirma que desea mostrar?')">Mostrar</a></td>
								<% end %>		
						</tr>
						<% end %>
					</tbody>
				</table>
			</p>
		</div> 	

		<h1>
			Documentos
		</h1>
		<div>
			<p>
				<table border="1" width="100%">
					<thead>
						<tr>
							<th>Archivo</th>
							<th>Nombre</th>
							<th>ACCIÓN</th>
						</tr>
					</thead>
					<tbody>
						<% @files.each do |f|%>
						<tr>									
							<td><a href="<%= f.file_url %>">Descargar</a></td>
							<td><%= f.name %></td>
							<td><a href="/editar_documento/<%=f.id%>">Ver y editar </a>
						</tr>
						<% end %>
					</tbody>
				</table>
			</p>
		</div>

		<h1>
			Junta y comites
			<a href="/crear_comite">Crear junta y comites</a>
		</h1>
		<div>
			<p>
				<table border="1" width="100%">
					<thead>
						<tr>
							<th>TITULO</th>
							<th>SUBTITULO</th>
							<th>DESCRIPCIÓN</th>
							<th>ESTADO</th>	
							<th>ACCIÓN</th>
						</tr>
					</thead>
					<tbody>
						<% @comites.each do |j|%>
						<tr>									
							<td><%=j.title%></td>
							<td><%=j.sub_title%></td>
							<td><%=j.description.html_safe%></td>	
							<td><%=j.active ? 'Activo' : 'Oculto' %></td>
							<td><a href="/editar_comite/<%=j.id%>">Ver y editar </a> /
								<% if j.active %>
									 <a href="/delete_comite/<%=j.id%>" onclick="return confirm('Confirma que desea ocultar?')">Ocultar</a></td>	
								<% else %>
									<a href="/delete_comite/<%=j.id%>" onclick="return confirm('Confirma que desea mostrar?')">Mostrar</a></td>
								<% end %>	 
						</tr>
						<% end %>
					</tbody>
				</table>
			</p>
		</div> 

		<h1>
			Contactenos
			<a href="/crear_contacto">Crear contacto</a>
		</h1>
		<div>
			<p>
				<table border="1" width="100%">
					<thead>
						<tr>
							<th>TITULO</th>
							<th>SUBTITULO</th>
							<th>DESCRIPCIÓN</th>
							<th>ESTADO</th>	
							<th>ACCIÓN</th>
						</tr>
					</thead>
					<tbody>
						<% @contacts.each do |c|%>
						<tr>									
							<td><%=c.title%></td>
							<td><%=c.email%></td>
							<td><%=c.telephone%></td>	
							<td><%=c.active ? 'Activo' : 'Oculto' %></td>
							<td><a href="/editar_contacto/<%=c.id%>">Ver y editar </a> /
								<% if c.active %>
									 <a href="/delete_contacto/<%=c.id%>" onclick="return confirm('Confirma que desea ocultar?')">Ocultar</a></td>	
								<% else %>
									<a href="/delete_contacto/<%=c.id%>" onclick="return confirm('Confirma que desea mostrar?')">Mostrar</a></td>
								<% end %>	 
						</tr>
						<% end %>
					</tbody>
				</table>
			</p>
		</div> 

		<h1>
			Opiniones
			<a href="/crear_opinion">Crear opinion</a>
		</h1>
		<div>
			<p>
				<table border="1" width="100%">
					<thead>
						<tr>
							<th>NOMBRE</th>
							<th>CARGO</th>
							<th>OPINION</th>
							<th>ESTADO</th>	
							<th>ACCIÓN</th>
						</tr>
					</thead>
					<tbody>
						<% @opinions.each do |o|%>
						<tr>									
							<td><%=o.name%></td>
							<td><%=o.position%></td>
							<td><%=o.opinion%></td>	
							<td><%=o.active ? 'Activo' : 'Oculto' %></td>
							<td><a href="/editar_opinion/<%=o.id%>">Ver y editar </a> /
								<% if o.active %>
									 <a href="/delete_opinion/<%=o.id%>" onclick="return confirm('Confirma que desea ocultar?')">Ocultar</a></td>	
								<% else %>
									<a href="/delete_opinion/<%=o.id%>" onclick="return confirm('Confirma que desea mostrar?')">Mostrar</a></td>
								<% end %>	 
						</tr>
						<% end %>
					</tbody>
				</table>
			</p>
		</div> 

		<h1>
			Tipos de convenios y creditos
			<a href="/crear_tipos">Crear tipos</a>
		</h1>
		<div>
			<p>
				<table border="1" width="100%">
					<thead>
						<tr>
							<th>IMAGEN</th>
							<th>TIPO</th>
							<th>TITULO</th>
							<th>ACCION</th>
						</tr>
					</thead>
					<tbody>
						<% @tipos.each do |t|%>
						<tr>								
							<td><%= !t.image_url.nil? ? (image_tag(t.image_url, height: '100', width: '100')) : ''%></td>
							<td><%=t.type_id == 1 ? "Convenio" : ("Crédito "+ (t.type_id == 2 ? "Vinculate" : "Servicios"))%></td>
							<td><%=t.name%></td>	
							<td><%=t.active ? 'Activo' : 'Oculto' %></td>
							<td><a href="/editar_tipo/<%=t.id%>/<%=t.type_id%>">Ver y editar </a> /
								<% if t.active %>
									 <a href="/active_tipo/<%=t.id%>/<%=t.type_id%>" onclick="return confirm('Confirma que desea ocultar?')">Ocultar</a></td>	
								<% else %>
									<a href="/active_tipo/<%=t.id%>/<%=t.type_id%>" onclick="return confirm('Confirma que desea mostrar?')">Mostrar</a></td>
								<% end %>	 
						</tr>
						<% end %>
					</tbody>	
				</table>
			</p>
			
		</div>
<!--
		<h1>
			Registro de asociados	
		</h1>
		<div>
			<p>
				<table border="1" width="100%">
					<thead>
						<tr>
							<th>NOMBRE</th>
							<th>FECHA DE NACIMIENTO</th>
							<th>EMAIL</th>
							<th>GENERO</th>
							<th>ESTUDIOS</th>
							<th>PROFESION</th>
							<th>DIRECCION</th>
							<th>CELULAR</th>
						</tr>
					</thead>
					<tbody>
						<% @asociado.each do |k|%>
						<tr>									
							<td><%=k.name %></td>
							<td><%=k.birthdate %></td>
							<td><%=k.email %></td>	
							<td><%=k.type_gender.name %></td>
							<td><%=k.education %></td>
							<td><%=k.profession %></td>
							<td><%=k.address %></td>
							<td><%=k.mobile %></td>	
						</tr>
						<% end %>
					</tbody>
				</table>
			</p>
		</div>-->
	</div>
</div>

