.insideContent  .creditosTitle{
    margin-top: 20px;
}

.Formularios li a{
    text-decoration: none;
}

.Formularios li{
    width: 130px;
    line-height: 1;
    margin-bottom: 1rem;
}

.BgFormulario{
    margin: 0 auto 0.5rem;
}

.contenedor{
	width: auto;
    position: relative;
}

.iconos ul{
	margin-left: auto;
	margin-right: auto;
    text-align: center;
}

.iconos li{
    display: inline-block;
    font-size: .8em;
    text-align: center;
    margin: 0 13px 0 13px;
    margin-top: 20px;
    margin-bottom: 50px;
    cursor: pointer;
}

.Title{
    text-align: center;
}

ol{
    padding: 0
}

span{
    /*display: none;*/
}

.previous {
    font-size: 0.9em !important;
    padding: 80px 0;
}

.previous .Objeto{
    text-align: center;
}

.MainContainer{
    z-index: 1000;
    padding: 10px 0;
}


.MainContainer .Objeto {
     width: 100%;
     text-align: center;
}

.MainContainer .Credito{
    height:300px;
    margin-bottom: 30px;
}

.Objeto{
    border-radius: 5px;
    padding-bottom: 15px;
}

.Objeto h1{
    text-align: center;
    color: white;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 1em;
}

.Objeto a{
    text-align: center;
    color: white;
    font-size: 1em;
    margin-bottom: 5px;
}

.Objeto img {
    padding: 5px;
    border-radius: 5px;
    
}

.Credito{
    background-color: transparent !important;
    border: solid 2px;
    padding: 10px;
    margin-top: -15px;
    border-radius: 5px;
}


.Credito h1{
    font-size: 0.7em;
    margin-top: 10px;
    margin-bottom: 0;
}

.Credito a{
    font-size: 0.7em;
}

.Slider .LibDes{
    background-color: #F0C730;
    border-color: #F0C730;
}

.Slider .LibInv{
    background-color: #5698AA;
    border-color: #5698AA;
}

.Slider .Viv{
    background-color: #CC4229;
    border-color: #CC4229;
}
  
.Slider .Estu{
    background-color: #28487E;
    border-color: #28487E;
}
 
.Slider .Vinc{
    background-color: #BFCA43;
    border-color: #BFCA43;
}
 
.Slider .Antic{
    background-color: #E0992F;
    border-color: #E0992F;
}

.Slider .Promo{
    background-color: #6E2562;
    border-color: #6E2562;
}

.contenedor .BackBanner{
    left: 15px;
    background-color: rgb(100 100 100);
    border-radius: 150px;
}

.contenedor .NextBanner{
    right: 15px;
    background-color: rgb(100 100 100);
    border-radius: 150px;
}

@media screen and (max-width: 39.9375em) {
    .Formularios li{
        width: 109px;
        font-size: 0.5rem;
        margin: 0.5rem 0.3rem 1rem;
    }

    .Formularios li .texto{
        font-size: 0.6rem;
    }

}