<div class="pageContent">
	<div class="L-10 M-10 S-10 row pageBanner">
		<div class="L-10 M-8 S-12 columns imagenBanner Vinculate" appImagesSizesBanner>
			<img src="./assets/img/BanVincul.jpg">
			<div class="PageTitle"><h2>Vincúlate</h2><h3>y disfruta de todos nuestros beneficios</h3></div>
		</div>	
		<div class="L-2 M-2 S-12 columns bannerBotones">
			<a class="L-12 M-12 S-6 columns OfVirtual" href="https://servicios2.inube.com.co/linix/v6/860006643/login.php?nit=860006643" target="_blank">
				<div class="icono"><img src="./assets/img/OfVirtIcon.png"></div>
				<div class="texto"><b>Oficina<b class="Resaltar"> virtual</b></b></div>
			</a>
			<div class="L-12 M-12 S-6 columns Vinculate" [routerLink]="['/vinculate']">
				<div class="icono"><img src="./assets/img/vinculIcon.png"></div>
				<div class="texto"><b>Vincúlate<b class="Resaltar"> ahora</b></b></div>
			</div>
		</div>
	</div>
	<div class="L-10 M-10 S-10 row pageContainer">
		<div>
			<div class="Icon VinculateInfo"></div>
			<div class="Title VinculateInfo"><h1>Información institucional</h1></div>
		</div>
		<ng-container *ngFor="let info of informacion_institucional">
			<div class="L-12 M-12 S-12 columns insideContent">
				<img class="L-3 M-4 S-12 columns aaa" [src]="info.image.url" alt="">

				<div class="L-9 M-8 S-12 texto">
					<div [innerHTML]="info.description | safe:'html'"></div>
				</div>
			</div>
		</ng-container>
		
		<div class="L-12 M-12 S-12 columns centered Formularios">
			<ul>
				<li *ngFor="let item of formularios" >
				<ng-container [ngSwitch]="item.router">
					<a [href]="item.Link"  *ngSwitchCase="'link'" target="_blank">
						<div class="BgFormulario"></div>
						<div class="texto">{{item.name}}</div>	
					</a>
					<a [routerLink]="[item.Link]"  *ngSwitchCase="'internal'">
						<div class="BgFormulario"></div>
						<div class="texto">{{item.name}}</div>	
					</a>
				</ng-container>
					
				</li>
			</ul>
		</div>	
	</div>
	<div class="L-10 M-10 S-10 row pageContainer">
		<div>
			<div class="Icon VinculateTasas"></div>
			<div class="Title VinculateTasas"><h1>Tasas y Tarifas</h1></div>
			<div class="TextTitle"><a>El proceso de afiliación al Fondo de Empleados no tendrá ningún costo asociado, tampoco lo tendrá la solicitud, evaluación, aprobación y desembolso de un crédito para un asociado ya que se encuentra cubierto en la tasa propia del crédito.</a></div>
		</div>
		<div class="L-12 M-12 S-12 columns insideContent">
			<ng-container *ngFor="let tarifa of tarifas">
				<img class="L-3 M-4 S-12 columns" [src]="tarifa.image.url" >
				<div class="L-9 M-8 S-12 texto">
					<div [innerHTML]="tarifa.description | safe:'html'"></div>
				</div>
			</ng-container>
			
		</div>
		<div class="L-10 M-10 S-12 row pageContainer">
		<div class="L-12 M-12 S-12 row insideContent">
			<div class="creditosTitle">
				<div class="Title VinculateTasas"><h1>Créditos</h1></div>
				<div class="TextTitle"><a>Las tarifas y modalidades de créditos vigentes ofrecidos por el Fondo de Empleados son las siguientes:</a></div>
			</div>
			<app-creditos-slider *ngIf="data" [data]="data"></app-creditos-slider>
		
		</div>
	</div>
	</div>
</div>	