<div class="L-12 M-12 S-12 columns">
	<div class="L-10 M-10 S-10 columns centered opinionesContainer">
			<div class="Icon Opiniones"></div>
			<div class="Title Opiniones"><h1>Opiniones de nuestros afiliados</h1></div>


			<ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" >
				<div class="L-3 M-6 S-hide opinionesContent" ngxSlickItem *ngFor="let item of Opiniones">
					<div class="comillaUno"><h1>"</h1></div>
					<div class="opinion"><a [innerHTML]="item.Opinion"></a></div>
					<div class="nombre"><a class="Resaltar">{{item.Nombre}}</a><br>{{item.Cargo}}</div>
					<div class="comillaDos"><h1>"</h1></div>
				</div>
			</ngx-slick>


			
	</div>
</div>	