<div class="wrapp-login">
  <img src="/assets/logo.svg" alt="">
  
  <div class="content-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Ingresar", class:'button expanded' %>
      </div>
    <% end %>

    <% if flash[:alert].present? %>
      <div class="callout alert"><%= flash[:alert] %></div>
    <% end %>
  </div>
</div>
