<div class="pageContent">
	<div class="L-10 M-10 S-10 row pageBanner">
		<div class="L-10 M-8 S-12 columns imagenBanner Seguridad" appImagesSizesBanner>
			<img src="./assets/img/BanSeguridad.jpg">
			<div class="PageTitle"><h2>Seguridad</h2><h3>recomendaciones para mantener tu cuenta segura</h3></div>
		</div>	
		<div class="L-2 M-2 S-12 columns bannerBotones">
			<a class="L-12 M-12 S-6 columns OfVirtual" href="https://servicios2.inube.com.co/linix/v6/860006643/login.php?nit=860006643" target="_blank">
				<div class="icono"><img src="./assets/img/OfVirtIcon.png"></div>
				<div class="texto"><b>Oficina<b class="Resaltar"> virtual</b></b></div>
			</a>
			<div class="L-12 M-12 S-6 columns Vinculate" [routerLink]="['/vinculate']">
				<div class="icono"><img src="./assets/img/vinculIcon.png"></div>
				<div class="texto"><b>Vincúlate<b class="Resaltar"> ahora</b></b></div>
			</div>
		</div>
	</div>
	<div class="L-10 M-10 S-10 row pageContainer">
		<div>
			<div class="Icon SeguridadInfo"></div>
			<div class="Title SeguridadInfo"><h1>Recomendaciones</h1></div>
		</div>
		<div class="L-12 M-12 S-12 columns insideContent">
			<img class="L-3 M-4 S-12 columns" src="./assets/img/seguridad.jpg" alt="">
			<div class="L-9 M-8 S-12 texto">
				<ul class="VinculateInfoList">
					<li>Utilice siempre equipos de uso personal para realizar sus transacciones (oficina o casa), no use computadores de sitios públicos, su usuario y contraseña se podrían ver comprometidos. </li>
					<br/>
					<li>Digite siempre la dirección del Fondo de Empleados, <a href="https://febdb.com.co/" target="_blank">febdb.com.co</a> directamente en la barra de su navegador y asegúrese que aparece precedida por https. </li>
					<br/>
					<li>Cambie periódicamente su contraseña, recuerde que es personal e intransferible. </li>
					<br/>
					<li>Cada vez que finalice su actividad en el portal del fondo de empleados, cierre la sesión y asegúrese de no tener su usuario activo. </li>
					<br/>
					<li>El Fondo de empleados Banco de Bogotá nunca solicitará información confidencial para actualización de datos, relacionada con números de sus productos financieros y claves correspondientes a través de correo electrónico. </li>
					<br/>
					<li>Periódicamente revise que los equipos desde los cuales se conecta al Fondo de Empleados Banco de Bogotá estén libres de virus, software espía, troyanos; ya que pueden comprometer la seguridad de la información que maneja. </li>
					<br/>
					<li>Verifique que se encuentra en la página del Fondo de Empleados Banco de Bogotá, si aparece en la parte inferior o superior izquierda de su navegador la imagen de un candado. </li>
					<br/>
					<li>Nunca almacene sus contraseñas en los navegadores que use. Memorícelas en lo posible. </li>
					<br/>
					<li>Nunca responda a ninguna solicitud de información personal ni confidencial a través de un correo electrónico. </li>
					<br/>
					<li>Instale en sus equipos programas licenciados de protección contra virus, troyanos, pharming,phishing y keylogger. </li>
				</ul>
			</div>
		</div>
	</div>
</div>	