html{
	font-family: 'Helvetica', sans-serif;
	font-weight: 100;
	font-size: 1em;	
	color: #4E4E4E;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 1.5em;
	color: #4E4E4E;
}

h2{
	font-family: 'Helvetica', sans-serif;
	font-weight: 100;
	margin-bottom: 0px;
	font-size: 3em;
	text-shadow: 1px 1px black;
	color: White;
}

h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin-top: 0;
	font-size: 3em;
	text-shadow: 1px 1px black;
	color: White;
}

b {
	font-family: 'Helvetica', sans-serif;
	font-weight: 100;
	font-size: 1.2em;
	color: White;
}

b .Resaltar {
	font-family: 'Montserrat' !important;
	font-weight: 500 !important;
	font-size: 1.2em !important;
	color: White !important;
}

a {
	font-family: 'Helvetica', sans-serif;
	font-weight: 100;
	font-size: 1em;
	color: #4E4E4E;

}

a .Resaltar{
	font-family: 'Montserrat' !important;
	font-weight: 500;
	font-size: 1em;
	color: #4E4E4E;

}

.contactanosMap{
	border: 1px solid #b2b2b2;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}

.contenedor{
	background-color: rgb(240, 240, 240);
}

.PopUpContainer{
	display: none;
}

.PopUpContainer.selected{
	z-index: 100;
	top: 0;
	left: 0;
	position: fixed;
	background-color: rgba(0,0,0,.8);
	height: 100%;
	width: 100%;
	display: block;
}

.cerrar{
	position: absolute;
	top:10px;
	right: 10px;
}

.PopUpParent{
	margin-top: 100px !important;
	position: relative;
}

.pageBanner.PopUp{
	background-color: #ffff;
}

.pageContainer.PopUp{
	margin-top: 0px;
	background-color: #ffff;

}


.row{
	margin: 0 auto;
	display: block;
}

.pageBanner{
	position: relative;
	height: 280px;
}

.pageContainer{
	margin-top: 20px;
	position: relative;
	padding: 3rem 0;
}

.contactanosContainer{
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 20px;
}

.conveniosContainer{
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 0 60px 0 60px; 
}

.opinionesContainer{
    background-color: #f0f0f0;
    padding: 20px;
    }


.icon_svg {
	content: '';
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 50%;
    bottom: 50%;
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
    background-image: url(/assets/img/assets.svg);
    background-size: 1878px;
}


.OfVirtIcon_svg{
	background-position: -245px -67px;
}

.vinculIcon_svg{
	background-position: -241px -213px;
}

.AhorrIcon_svg{
	background-position: -243px -366px;
}

.CredIcon_svg{
	background-position: -243px -523px;
}

.Icon{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: solid 2px;
	margin: auto;
	position: relative;
}

.Icon:before {
	content: '';
	display: block;
	width: 63px;
	height: 63px;
	position: absolute;
	right: 50%;
	bottom: 50%;
	transform: translate(50%, 50%);
	background-image: url("/assets/img/assets.svg");
	background-size: 1024px;
}

.Convenios:before{
	background-position: -208px -247px;
}

.Convenios{
	border-color: #28487E;
	text-align: center;
}

.Convenios h1{
	margin-top: 0;
	color: #28487E;
}

.Opiniones:before{
	background-position: -208px -328px;
}


.Opiniones{
	border-color: #BFCA43;
	text-align: center;
}

.Opiniones h1{
	margin-top: 0;
	color: #BFCA43;
}

.Contactanos:before{
	background-position: -208px -572px;
}

.Contactanos{
	border-color: #6E2562;
	text-align: center;
}

.Contactanos	 h1{
	margin-top: 0;
	color: #6E2562;
}

.ServiciosAhorros{
	border-color: #5698AA;
}

.ServiciosAhorros:before{
	background-position: -208.5px -92px;
	text-align: center;
}

.ServiciosAhorros h1{
	margin-top: 0;
	color: #5698AA;
}

.ServiciosCreditos{
	border-color: #5698AA;
}

.ServiciosCreditos:before{
	background-position: -207px -649px;
	text-align: center;
}

.ServiciosCreditos h1{
	margin-top: 0;
	color: #5698AA;
}

.ServiciosServFun:before{
	background-position: -207px -649px;
}

.ServiciosServFun{
	border-color: #5698AA;
	text-align: center;
}

.ServiciosServFun h1{
	margin-top: 0;
	color: #5698AA;
}

.BeneficiosAfilia:before{
	background-position: -208px -811px
}

.BeneficiosAfilia{
	border-color: #E0992F;
	text-align: center;
}

.BeneficiosAfilia h1{
	margin-top: 0;
	color: #E0992F;
}

.BeneficiosServi:before{
	background-position: -208px -886px;
}


.BeneficiosServi{
	border-color: #E0992F;
	text-align: center;
}

.BeneficiosServi h1{
	margin-top: 0;
	color: #E0992F;
}

.ConocenosQuienes:before{
	background-position: -208px -329px;
}

.ConocenosQuienes{
	border-color: #BFCA43;
	text-align: center;
}

.ConocenosQuienes h1{
	margin-top: 0;
	color: #BFCA43;
}

.ConocenosHist:before{
	background-position: -209px -9px;
}

.ConocenosHist{
	border-color: #BFCA43;
	text-align: center;
}

.ConocenosHist h1{
	margin-top: 0;
	color: #BFCA43;
}

.ConocenosEstat:before{
	background-position: -578px -9px;
}

.ConocenosEstat{
	border-color: #BFCA43;
	text-align: center;
}

.ConocenosEstat h1{
	margin-top: 0;
	color: #BFCA43;
}

.VinculateInfo:before{
	background-position: -577px -88px;
}

.VinculateInfo{
	border-color: #CC4229;
	text-align: center;
}

.VinculateInfo h1{
	margin-top: 0;
	color: #CC4229;
}

.SeguridadInfo h1{
	margin-top: 0;
	color: #AC7F41;
}

.SeguridadInfo:before{
	background-position: -577px -251px;
}

.SeguridadInfo{
	border-color: #AC7F41;
	text-align: center;
}

.VinculateTasas:before{
	background-position: -577px -166px;
}

.VinculateTasas{
	border-color: #CC4229;
	text-align: center;
}

.VinculateTasas h1{
	margin-top: 0;
	color: #CC4229;
}

.VinculateInfoList li{
	list-style-type: decimal;
}

.Convensio h1{
	color: #1c4882;
}

.Convensio:before{
	background-position: -208.5px -246px;
    text-align: center;
}

.padding-title{
	padding-top: 2rem;
}

.TextTitle{
	width: 50%;
	text-align: center;
	margin: 0 auto 20px;
	font-size: .8em;

}

.conveniosSlider{
	position: relative;
	margin-top: 40px;
	height: 
}

.linkable{
	cursor: pointer;
}

.convenio{
/*	position: relative;
	padding: 10px;
	float: none;*/
	margin: 0 0.7rem;
}

.convenio figure{
	margin: 0 auto;
    width: 150px;
    height: 150px;
}


.convenio img{
	cursor: pointer;
	display: inline-block;
	width: 100%;
	height: 100%;
	border: solid 1px #28487E;
	border-radius: 50%;
}

.convenio img:hover{
	opacity: 0.5;
}

.BackBanner{
	cursor: pointer;
	display: inline-block;
	position: absolute;
    bottom:  50%;
    transform: translateY(50%);
    left: -40px;
    width: 33px;
    height: 33px;
    background-image: url(/assets/img/assets.png);
    background-position: -282px -33px;
}

.NextBanner{
	cursor: pointer;
	display: inline-block;
	position: absolute;
    bottom:  50%;
    transform: translateY(50%);
    right: -40px;
    width: 33px;
    height: 33px;
    background-image: url(/assets/img/assets.png);
    background-position: -280px 0;
}

.opinionesContent{
	background-color: white;
	display: inline-block;
	position: relative;
	border-top: solid 10px #f0f0f0;
	border-right: solid 10px #f0f0f0;
	padding: 10px;
	padding-top: 40px;
	padding-bottom: 50px;
	min-height: 200px;
}

.comillaUno h1{
    position: absolute;
    top: -67px;
    font-size: 5em;
    color: #BFCA43;
}

.comillaDos h1{
	position: absolute;
    bottom: -90px;
    right: 10px;
    font-size: 5em;
    color: #BFCA43;
}

.nombre {
	position: absolute;
	bottom: 10px;
}

.nombre .Resaltar{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 0.8em;
	text-align:right;
}

.ContactUs {
	display: inline-block;
}

.contactanosLeft{
	display: inline-block;
}

.contactIcon {
	padding-left: 1.5rem;
	margin-top: 20px;
	position: relative;
	height: 51px;
}

.iconTel{
	background-image: url(/assets/img/assets.svg);
    display: inline-block;
    background-position: -280px -65px;
    width: 51px;
    height: 51px;
    vertical-align: middle;
    margin-right: 0.5rem;
    background-size: 1024px;
}

.iconMail{
	background-image: url(/assets/img/assets.svg);
	background-size: 1024px;
    display: inline-block;
    background-position: -280px -116px;
    width: 51px;
    height: 51px;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.iconDir{
	background-image: url(/assets/img/assets.svg);
	background-size: 1024px;
    display: inline-block;
    background-position: -280px -167px;
    width: 51px;
    height: 51px;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.text{	
    display: inline-block;
    vertical-align: middle;
    font-size: .7em;
    width: calc(100% - 60px);
    white-space: normal;
}

.contactanosRight{
	display: inline-block;
}

.map {
	padding:10px;
	display: inline-block;
	width: 100%;
	height: 200%;
	border: 0;

}
.iconPolProt {
	background-image: url(/assets/img/assets.svg);
	background-size: 1024px;
    display: inline-block;
    background-position: -280px -220px;
    width: 51px;
    height: 51px;
    vertical-align: middle;
    margin-right: 0.2rem;
}

.footer {
	padding: 3px;
	background-color: #28487E;
	text-align: center;
}

.footer a{
	font-size: 0.8em;
	color: white;
}

.imagenBanner {
	overflow: hidden;
	height: 254px;
	margin-top: 1px;
	position: relative;
}

.imagenBanner.Servicios img{
	border-bottom: solid 15px #5698AA;
}

.imagenBanner.Beneficios img{
	border-bottom: solid 15px #E0992F;
} 

.imagenBanner.Conocenos img{
	border-bottom: solid 15px #BFCA43;
} 

.imagenBanner.Vinculate img{
	border-bottom: solid 15px #CC4229;
} 

.imagenBanner.Seguridad img{
	border-bottom: solid 15px #AC7F41;
} 

.imagenBanner.ContactanosPage img{
	border-bottom: solid 15px #6e2562;
} 

.imagenBanner.ConveniosPage img{
	border-bottom: solid 15px #28487E;
} 

.imagenBanner.PopUp img{
	border-bottom: solid 15px #28487E;
} 

.PopUp .PageTitle h2{
	color:#28487E;
}

.PopUp .PageTitle h3{
	color:#28487E;
}

.PageTitle{
	position: absolute;
	bottom: 0;
	left: 20px;
}

.accesosDirectos {
	display: inline-block;
	cursor: pointer;
	position: relative;
	height: 50%;
}

.accesosContainer{
	text-decoration: none;
}

.accesosDirectos:hover {
	opacity: 0.5;
}

.bannerBotones .OfVirtual .icono{
	height: 60px;
	width: 60px;
	margin-left: auto;
	margin-right: auto;
	border: solid 2px white;
	border-radius: 30px;

}

.bannerBotones .Vinculate .icono{
	height: 60px;
	width: 60px;
	margin-left: auto;
	margin-right: auto;
	border: solid 2px white;
	border-radius: 30px;

}

.bannerBotones .OfVirtual{
	height: 125px;
	background-color: #6E2562;	
	margin: 2px;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

.bannerBotones .Vinculate{
	height: 125px;
	background-color: #CC4229;
	margin: 2px;
	padding: 10px;
	text-align: center;
}

.bannerBotones {
	position: relative;
}

.insideContent {
	background-color: rgb(240, 240, 240);
	margin-bottom: 40px;
	position: relative;
	padding: 0
}

.insideContent .columns{
	padding: 0;
}

.insideContent img{
	display: inline-block;
}

.insideContent .texto{
	font-size: 0.9rem;
	display: inline-block;
	padding: 20px;
	color:#4E4E4E;
	text-shadow: none;
	list-style-type: ;
}

.insideContent .texto h3{
	color:#4E4E4E;
	text-shadow: none;
	margin-bottom: 10px;
	font-size: 2em;
}

.insideContent .texto li{
	margin-bottom: 10px;
	margin-left: 20px;
}


.historia{
	position: relative;
}

.IconosHist{
	position: absolute;
	width: 100%;
	height: 100%;
}

.descripcion{
	display: none;
}

.IconosHist ul{
	width: 100%;
	display: block;
	text-align: center;
	position: absolute;
	bottom: 50%;
	transform: translateY(50%);
	z-index: 10;
}

.IconosHist ul li:hover .Prueba,
.IconosHist ul li.selected .Prueba{
	height: 200px;
	width: 220px;
   	padding: 5px;
   	margin-top: 0px;
}

.IconosHist ul li:hover .descripcion,
.IconosHist ul li.selected .descripcion{
	display: inline-block;
	font-size: 0.7em;
}


.Prueba{
	cursor: pointer;
	display: inline-block;
    width: 75px;
    height: 75px;
    text-align: center;
    background-color: #bccd17;
    border: solid 2px #75800f;
    border-radius: 50px;
    padding-top: 8px;
    color: white;
}

.Prueba h1{
	color: inherit;
}

.IconosHist li{
	display: inline-block;
    width: 25%;
    vertical-align: middle;
}




.Linea{
	display: block;
	right: 50%;
	width: 100%;
	height: 4px;
	background-color: #bccd17; 
	border-bottom: solid 2px #75800f; 
	position: absolute;
	bottom: 50%;
	transform: translate(50%,50%);
	width: 80%;
}

.BgFormulario{
	width: 55px;
    height: 55px;
    background-image: url(/assets/img/assets.svg);
    background-size: 1024px;
    background-position: 0px -323px;
    margin: 0 auto;
    border: solid 1px #ce4120;
    border-radius: 30px;

}

.Formularios ul{
	text-align: center;
}

.Formularios li{
	margin-top: 10px;
	display: inline-block;
	width: 100px;
	font-size: .7em;
	vertical-align: top;
    margin: 2px;
    cursor: pointer;
}

.Formularios li:hover .BgFormulario{
	background-position: -55px -323px;
	background-color: #ce4120;
}


.slick-prev{
	left: 7px;
    filter: brightness(0.5);
    z-index: 9;
}

.slick-next{
	right: 7px;
    filter: brightness(0.5);
}


.opinionesContainer .slick-prev {
    left: -15px;
}

.opinionesContainer .slick-next {
    right: -5px;
}

@media screen and (max-width: 39.9375em) {
	.bannerBotones > .columns{
		margin: 2px 0 !important;
	}

	.pageBanner{
		height: auto;
	}

	.PageTitle h3{
		font-size: 1.5rem;
	}

	.TextTitle{
		width: 90%;
	}

	.iconos ul {
		margin-top: 1rem;
	}

	.iconos li{
		margin: 0 5px 0 5px !important;
    	margin-top: 5px !important;
     	margin-bottom: 0px !important;
	}

	.icon_svg{
		transform: translate(50%, 50%) scale(0.5);
	}

	.texto{
		line-height: 1;
		font-size: 0.9rem;
	}

	.slick-track{
		min-width: 150px;
	}

	.slick-slide{
		min-width: 150px;
	}

	.convenio{
		margin: 0;
	}

	.convenio img{
		width: 150px;
		height: 150px;
		margin: 0 auto;
		display: block;
	}

	.pageContainer{
		padding-bottom: 0;
		padding-top: 0;
	}
}
