<div class="pageContent">
	<div class="L-10 M-10 S-10 row pageBanner">
		<div class="L-10 M-8 S-12 columns imagenBanner Conocenos" appImagesSizesBanner>
			<img src="./assets/img/BanConocenos.jpg">
			<div class="PageTitle"><h2>Conócenos</h2><h3>El Fondo de Empleados del Banco de Bogotá</h3></div>
		</div>	
		<div class="L-2 M-2 S-12 columns bannerBotones">
			<a class="L-12 M-12 S-6 columns OfVirtual" href="https://servicios2.inube.com.co/linix/v6/860006643/login.php?nit=860006643" target="_blank">
				<div class="icono"><img src="./assets/img/OfVirtIcon.png"></div>
				<div class="texto"><b>Oficina<b class="Resaltar"> virtual</b></b></div>
			</a>
			<div class="L-12 M-12 S-6 columns Vinculate" [routerLink]="['/vinculate']">
				<div class="icono"><img src="./assets/img/vinculIcon.png"></div>
				<div class="texto"><b>Vincúlate<b class="Resaltar"> ahora</b></b></div>
			</div>
		</div>
	</div>
	<div class="L-10 M-10 S-10 row pageContainer">
		<div>
			<div class="Icon ConocenosQuienes"></div>
			<div class="Title ConocenosQuienes"><h1>Quienes somos</h1></div>
		</div>
		<div class="L-12 M-12 S-12 columns insideContent">
			<img class="L-3 M-4 S-12 columns" src="./assets/img/ImgCuadr_0002_stock-photo-two-hands-trying-to-connect-couple-puzzle-piece-with-sunset-background-jigsaw-alone-wooden-puz.jpg" alt="">
			<div class="L-9 M-8 S-12 texto">
				<h3>Misión</h3>
				<p>Somos una entidad del Sector Solidario que capta ahorros de sus asociados, optimizando estos recursos para ofrecer a sus asociados y sus familias un portafolio de productos y servicios principalmente financieros, que satisfaga permanentemente las necesidades económicas y sociales, brindándoles un mejoramiento en su calidad de vida, con base en los principios solidarios.
				</p>
			</div>
		</div>
		<div class="L-12 M-12 S-12 columns insideContent">
			<img class="L-3 M-4 S-12 columns" src="./assets/img/ImgCuadr_0005_stock-photo-the-road-mission-aspiration-goals-ideas-inspiration-vision-concept-759578713.jpg" alt="">
			<div class="L-9 M-8 S-12 texto">
				<h3>Visión</h3>
				<p>El Fondo de Empleados del Banco de Bogotá quiere ser siempre el Fondo de Empleados líder que crece en beneficio de sus asociados, sus familias y de sus colaboradores.
				</p>
			</div>
		</div>
	</div>
	<div class="L-10 M-10 S-10 row pageContainer">
		<div>
			<div class="Icon ConocenosHist"></div>
			<div class="Title ConocenosHist"><h1>Nuestra historia</h1></div>
		</div>
		<div class="L-12 M-12 S-12 columns insideContent">
			<img class="L-12 M-12 S-12 columns historia" src="./assets/img/NuestraHist.jpg" alt="">
			<div class="IconosHist">
				<ul >
					<li *ngFor="let item of NuestraHistoria" (click)="item.selected = true" [ngClass]="{'selected': item.selected}">
						<div class="Prueba">
							<div class="Fecha"><h1>{{item.anno}}</h1></div>
							<div class="descripcion">{{item.Descripcion}}</div>
						</div>
					</li>
				</ul>
				<div class="Linea"></div>
			</div>
		</div>
	</div>
	<div class="L-10 M-10 S-10 row pageContainer">
		<div>
			<div class="Icon ConocenosEstat"></div>
			<div class="Title ConocenosEstat"><h1>Estatutos</h1></div>
		</div>
		<div class="L-12 M-12 S-12 columns insideContent">
			<img class="L-3 M-4 S-12 columns" src="./assets/img/ImgCuadr_0001_stock-photo-young-tree-seedling-are-growing-on-rule-of-third-position-over-green-nature-outdoor-background.jpg" alt="">
			<div class="L-9 M-8 S-12 texto">
				Los estatutos establecidos por el Fondo de Empleados definen su manera de constitución, su modo de ser administrado y dirigido, así mismo los derechos y deberes entre el Fondo y sus asociados y con respecto a terceros, el destino de los bienes, la liquidación de la entidad, etcétera.<br><br>Si deseas conocer los estatutos del Fondo de Empleados, puedes consultarlos aquí: <a [href]="link_estatutos" target="_blank">Estatutos</a> <br><br>Si deseas conocer los reglamentos para la solicitud de créditos, puedes consultarlos aquí: <a [href]="link_reglamento" target="_blank">Archivo de Reglamentos</a>
			</div>
		</div>
	</div>
	<div class="L-10 M-10 S-10 row pageContainer">
		<div>
			<div class="Icon ConocenosQuienes"></div>
			<div class="Title ConocenosQuienes"><h1>Órganos de Dirección</h1></div>
		</div>
		<div class="L-12 M-12 S-12 row insideContent">
			<div class="L-12 M-12 S-12 row contenedor">
				<app-creditos-slider *ngIf="Junta" [data]="Junta"></app-creditos-slider>
			</div>

		</div>
	</div>
</div>	