.contenedor{
	width: auto;
    position: relative;
}

.iconos ul{
	margin-left: auto;
	margin-right: auto;
    text-align: center;
}

.iconos li{
    display: inline-block;
    font-size: .8em;
    text-align: center;
    margin: 0 13px 0 13px;
    margin-top: 20px;
    margin-bottom: 50px;
    cursor: pointer;
}

.Title{
    text-align: center;
}

span{
    display: none;
}



.previous {
    font-size: 0.9em !important;
    padding: 80px 0;
}

.previous .Objeto{
    text-align: center;
}

.MainContainer{
    z-index: 1000;
    padding: 10px 0;
}

.MainContainer .Objeto {
     width: 100%;
     text-align: center;
}

.MainContainer .Credito {
    height: 400px;
    margin-bottom: 30px;
}

.Objeto{
    border-radius: 5px;
    padding-bottom: 15px;
}

.Objeto h1{
    text-align: center;
    color: white;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 1em;
}

.Objeto a{
    text-align: center;
    color: white;
    font-size: 1em;
    margin-bottom: 5px;
}

.Objeto img {
    padding: 5px;
    border-radius: 5px;
    
}

.Credito{
    background-color: transparent !important;
    border: solid 2px;
    padding: 10px;
    margin-top: -15px;
    border-radius: 5px;
}


.Credito h1{
    font-size: 0.62em;
    margin-top: 10px;
    margin-bottom: 0;
}

.Credito a, .Credito p{
    font-size: 0.9em;
}



.contenedor .BackBanner{
    left: 15px;
    background-color: rgb(100 100 100);
    border-radius: 150px;
}

.contenedor .NextBanner{
    right: 15px;
    background-color: rgb(100 100 100);
    border-radius: 150px;
}

@media screen and (max-width: 39.9375em) {
    .IconosHist{
        position: static;
    }

    .IconosHist ul{
        position: relative; 
        -webkit-transform: none;
        transform: none;
        margin-top: 6rem;
        z-index: 10;
    }

    .IconosHist li{
        width: 100%;
        margin-bottom: 1rem;
    }

    .Linea{
        height: 70%;
        width: 4px;
        border-left: solid 2px #75800f;
        bottom: 40%;
    }

}