<div class="L-10 M-12 S-10  centered columns banner">

	<ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" >
		<div ngxSlickItem class="slide"  *ngFor="let pic of banners"  (click)="openLink(pic.link)" [ngClass]="{linkable: pic.link}" (afterChange)="afterChange($event)">
			<div class="L-12 M-12 S-12 columns imagenes">
				<img [src]="pic.picture">
				<div class="masInfo">
					<div class="titulo"><h1>{{ pic.title }}</h1></div>
					
					<div class="descript"><a [innerHTML]="pic.Descripcion"></a></div>
					
				</div>
			</div>
		</div>
	</ngx-slick>
	<span #unlockslick></span>

	<!-- <div class="L-12 M-10 S-12 centered columns  bannerContainer" *ngFor="let pic of banners" > -->
	<!-- <div class="L-10 M-10 S-10 columns centered bannerContainer" > -->
		<!-- div class="L-12 M-12 S-12 columns imagenes">
				<img [src]="pic.picture">
				<div class="masInfo">
					<div class="titulo"><h1>{{ pic.title }}</h1></div>
					
					<div class="descript"><a [innerHTML]="pic.Descripcion"></a></div>
					<a class="verMas" [href]="pic.link" target="_blank"></a>
				</div>
		</div>
	</div> -->
	<div class="L-12 M-10 S-12 columns centered">
		<div class="row">
			<div class="L-3 M-3 S-6 columns accesosDirectos OfVirtual"  appSquareDiv>
				<a class="accesosContainer"  href="https://servicios2.inube.com.co/linix/v6/860006643/login.php?nit=860006643" target="_blank">	
					<div class="icono">
						<span class="icon_svg OfVirtIcon_svg"></span>
					</div>
					<div class="texto"><b>Oficina<b class="Resaltar"> virtual</b></b></div>
				</a>
			</div>
			<div class="L-3 M-3 S-6 columns accesosDirectos Vinculate" [routerLink]="['vinculate']" appSquareDiv>
				<a class="accesosContainer">	
					<div class="icono">
						<span class="icon_svg vinculIcon_svg"></span>
					</div>
					<div class="texto"><b>Vincúlate<b class="Resaltar"> ahora</b></b></div>
				</a>
			</div>
			<div class="L-3 M-3 S-6 columns accesosDirectos Ahorra" [routerLink]="['servicios']" appSquareDiv>
				<a class="accesosContainer">	
					<div class="icono">
						<span class="icon_svg AhorrIcon_svg"></span>
					</div>
					<div class="texto"><b>Ahorra y cumple tus<b class="Resaltar"> metas</b></b></div>
				</a>
			</div>
			<div class="L-3 M-3 S-6 columns accesosDirectos Creditos"  [routerLink]="['/servicios']" fragment="creditos" appSquareDiv>
				<a class="accesosContainer">	
					<div class="icono">
						<span class="icon_svg CredIcon_svg"></span>
					</div>
					<div class="texto"><b>Créditos para lo que<b class="Resaltar"> necesites</b></b></div>
				</a>
			</div>
		</div>
	</div>
</div>