.imagenes{
	position: relative;
}

.masInfo{
	position: absolute;
	display: none;
	background-color: rgba(255, 255, 255, 0.9);	
	height: 100%;
	width: 100%;
	top: 0;
	padding: 10px;
}

.imagenes:hover .masInfo{
	display: block;
}

.titulo{
	border-bottom: solid 1px #4E4E4E;
}

.titulo h1{
	margin-bottom: 0px;
}

.descripcion {
	margin-top: 5px;
}

.descript{
	word-break: break-word;
}

.verMas{
	display: block;
	height: 23px;
	width: 23px;
	background-image: url("/assets/img/assets.png");
	background-position: -120px 0;
	text-align: center;
	position: absolute;
	bottom: 10px;
	left: 50% - 23px ;
	right: 50%;
}


.OfVirtual{
	background-color: #6E2562;	
	border: solid 2px white;
}

.Vinculate{
	background-color: #CC4229;
	border: solid 2px white;
}

.Ahorra{
	background-color: #28487E;
	border: solid 2px white;
}

.Creditos{
	background-color: #BFCA43;
	border: solid 2px white;
}

.icono {
	margin: auto;
	margin-top: 10%; 
	width: 50%;
	height: 50%;
	border-radius: 50%;
	border:solid 3px white;
	position: relative;
/*	min-width: 130px;
    min-height: 130px;*/
}

.texto {
	margin: 10px auto;
	text-align: center;
}

.no-center{
	float: left;
	clear: none;
}

@media screen and (max-width: 550px) {
	b {font-size: 1em}
}

@media screen and (min-width: 551px) and (max-width: 1024px) {
	b {font-size: 1em}
}


@media screen and (max-width: 39.9375em) {
	.accesosDirectos{
		height: 150px !important;
	}
}