<div class="L-12 M-12 S-12 row header">
	<div class="L-10 M-10 S-10 row centered container">
		<div routerLink="/" class="columns S-12">
			<img src="assets/img/logo.svg" class="logo-header">
		</div>
		
		<div class="menu">
			<ul>
				<li class="inicio" type="submit" [routerLink]="['']" ><span></span><a>Inicio</a></li>
				<li class="servicios" type="submit" [routerLink]="['/servicios']" >
					<span></span><a>Servicios</a>
					<ul class="submenu">
						<li><a [routerLink]="['/servicios']" fragment="ahorros">Ahorro</a></li>
						<li><a [routerLink]="['/servicios']" fragment="creditos">Crédito</a></li>
						<li><a [routerLink]="['/servicios']" fragment="serviciosfinancieros">Servicios funerarios</a></li>
					</ul>
				</li>
				<li class="beneficios" type="submit" [routerLink]="['/beneficios']"><span></span><a>Beneficios</a></li>
				<li class="convenios" type="submit" [routerLink]="['/convenios']"><span></span><a>Convenios y Alianzas</a></li>
				<li class="conocenos" type="submit" [routerLink]="['/conocenos']"><span></span><a>Conócenos</a></li>
				<li class="vinculate" type="submit" [routerLink]="['/vinculate']"><span></span><a>Vincúlate</a></li>
				<li class="seguridad" type="submit" [routerLink]="['/seguridad']"><span></span><a>Seguridad</a></li>
				<li class="contactanos" type="submit" [routerLink]="['/contactanos']"><span></span><a>Contáctanos</a></li>
			</ul>
		</div>
	</div>
</div>