.header{
	display: inline-block;
	/*padding: 0 25px 0 25px;*/
	position: relative;
}

.logo{
	display: inline-block;
	background-image: url("/assets/img/logo.png");
	background-repeat: none !important;
	height: 133px;
	width: 350px;
	
}

.logo-header{
	margin: 3rem 0;

}

ul {
	margin-top: 50px;
	display: inline-block;
	float: right;
	position: relative;
	z-index: 99;
}

li{
	display: inline-block;
	margin: 0 5px 0 5px;
	background-color: red;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	position: relative;
	cursor: pointer;
	outline: none;
	transition: all 0.28s ease-out;
}

li:hover a{
	display: block;
}

li:hover > .submenu{
	display: block;
	padding-top: 2rem;
    margin-top: -2rem;
}


a {
	display: none;
	position: absolute;
    top: 13px;
    left: 40px;
	color: white;

}



li span{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-image: url("/assets/img/assets.svg");
	background-size: 1024px;
}

li.inicio{
	background-color: #F0C730 ;
}

li.inicio:hover {
	display: inline-block;
	width: 90px;
}


li.servicios{
	background-color: #5698AA ;
}

li.servicios span{
	background-position: 0 -40px;
}

li.servicios:hover {
	display: inline-block;
	width: 115px;
}

li.beneficios{
	background-color: #E0992F ;
}
li.beneficios span{
	background-position: 0 -80px;
}

li.beneficios:hover {
	display: inline-block;
	width: 125px;
}


li.convenios{
	background-color: #28487E ;
}
li.convenios span{
	background-position: 0 -120px;
}

li.convenios:hover {
	display: inline-block;
	width: 200px;
}
li.conocenos{
	background-color: #BFCA43 ;
}
li.conocenos span{
	background-position: 0 -160px;
}

li.conocenos:hover {
	display: inline-block;
	width: 130px;
}
li.vinculate{
	background-color: #CC4229 ;
}
li.vinculate span{
	background-position: 0 -200px;
}

li.vinculate:hover {
	display: inline-block;
	width: 120px;
}

li.seguridad{
	background-color: #AC7F41 ;
}
li.seguridad span{
	background-position: 0 -240px;
}

li.seguridad:hover {
	display: inline-block;
	width: 125px;
}
li.contactanos{
	background-color: #6E2562 ;
}
li.contactanos span{
	background-position: 0 -280px;
}

li.contactanos:hover {
	display: inline-block;
	width: 140px;
}


/*li.contactanos a{
	display: none
}

li.contactanos:hover a{
	display: block;
}
*/

.submenu{
	margin: 0;
	width: 170px;
	position: absolute;
	right: 50%;
	top: 45px;
	transform: translateX(50%);
	display: none;
}

.submenu li{
	width: 100%;
	margin: 0;
	background: #389aac;
	padding-top: 11px;
	margin-bottom: 0.2rem;
	
}

.submenu li a{
	position: static;
	text-align: center;
	text-decoration: none;
}

@media screen and (max-width: 39.9375em) {
	.logo{
	    display: block;
	    background-image: url(/assets/img/logo.png);
	    height: 100px;
	    width: 270px;
	    background-size: contain;
	    background-repeat: no-repeat;
	    margin: 0 auto;

	}

	ul{
	    width: 100%;
	    margin: 0 auto 2rem;
	    float: none;
	    display: block;
	    text-align: center;
	    clear: both;
	}

	ul li{
		width: 140px;
	}

	ul li:hover{
		width: 140px;	
	}

	ul li span{
		float: left;
	}

	a{
		display: block;
	}

	.submenu{
		display: none !important
	}


}



