<div class="pageContent" *ngIf="infoConvenios">
	<div class="L-10 M-10 S-10 row pageBanner">
		<div class="L-10 M-8 S-12 columns imagenBanner ConveniosPage" appImagesSizesBanner>
			<img src="./assets/img/BanWhite.jpg">
			<div class="PageTitle"><h2>{{infoConvenios.Title}}</h2><h3>{{infoConvenios.Short_Desc}}</h3></div>
		</div>	
		<div class="L-2 M-2 S-12 columns bannerBotones">
			<a class="L-12 M-12 S-6 columns OfVirtual" href="https://servicios2.inube.com.co/linix/v6/860006643/login.php?nit=860006643" target="_blank">
				<div class="icono"><img src="./assets/img/OfVirtIcon.png"></div>
				<div class="texto"><b>Oficina<b class="Resaltar"> virtual</b></b></div>
			</a>
			<div class="L-12 M-12 S-6 columns Vinculate" [routerLink]="['/vinculate']">
				<div class="icono"><img src="./assets/img/vinculIcon.png"></div>
				<div class="texto"><b>Vincúlate<b class="Resaltar"> ahora</b></b></div>
			</div>
		</div>
	</div>
	<div class="L-10 M-10 S-10 row pageContainer">
		<div class="L-12 M-12 S-12 columns insideContent">
			<div class="L-3 M-4 S-12 columns">
					<img   src="{{infoConvenios.picture}}">	
			</div>
			
			<div class="L-9 M-8 S-12 columns">
				<ngx-slick class="carousel slick-convenios" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
					<div class="slideSlick" ngxSlickItem  *ngFor="let image of infoConvenios.slides">
						<img (load)="loadImge(img)" [src]="image" #img>	
					</div>
				</ngx-slick>
				<div class="texto" [innerHTML]="infoConvenios.Long_Desc | safe:'html'"></div>
			</div>
		</div>
	</div>	
	<div class="L-10 M-10 S-10 row pageContainer">
		<app-convenios-page></app-convenios-page>
	</div>
</div>	