.PageTitle h2, .PageTitle h3{
    color: #28487e;
}

/*.pageContainer{
    background-color: rgb(240, 240, 240);
}*/

.insideContent .columns{
	padding-right: 2px;
	font-size: 0rem;
}


.slick-track{
	min-height: 300px;
}

.slick-slide{
	height: auto;
}

.slick-convenios .slick-prev{
	left: 7px;
    filter: brightness(0.5);
    z-index: 9;
}

.slick-convenios .slick-next{
	right: 7px;
    filter: brightness(0.5);
}

.slideSlick{
	width: 100%;
	height: 400px;
	position: relative;
	background: #333;
}

.slideSlick img{
	
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
}


.slideSlick img.horizontal-image{
	width: 100%;
    height: auto;
}

.slideSlick img.vertical-image{
	height: 100%;
    width: auto;
}
