/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *, h1, h2, h3, h4, h5, h6, p, a, strong, label{
 	font-family: 'Open Sans', sans-serif;
 }

.wrapp{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding-top: 1rem; 
}

h2{
	margin-top: 2.3rem;
    text-align: right;
    font-weight: 600;
    color: #001a54;
}

h1{
    font-weight: 600;
    margin-bottom: 1rem;
    color: #001a54;
}

h1 a{
	float: right;
    color: #2f4673;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0px;
    background: white;
    padding: 0.3rem 1rem;
    border-radius: 3px;
    min-width: 200px;
    text-align: center;
    transition: background 0.28s ease-out;
}

h1 a:hover{
	background: #2f4673;
	color: white;
}

.menu{
	margin: 0rem auto 1rem;
    background: #2f4673;
}

ul.menu li a{
	color: white;
    padding: .7rem .8rem;
} 

.ui-accordion-header{
	background: #304772;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    font-weight: 200;
    outline: none;
    cursor: pointer;
    transition: background 0.28s ease-out;
}

.ui-accordion-header:hover{
	background: rgba(48, 71, 114, 0.74);
}

.button-logout{
    background: #23406d;
    width: 135px;
    text-align: center;
}



table th{
	font-size: 0.8rem;
	padding: 0.5rem
}

table td{
	font-size: 0.85rem;
    line-height: 1.2;
}

table td *{
	line-height: 1.2;	
}

table td br{
	display: none
}

.button{
	background: #2e4574;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 5px;
}

form .button{
	width: 300px;
	margin: 1rem auto;
	display: block;

}

form [type=checkbox]{
    margin-top: 2.3rem;
}

form label{
    font-weight: bold;
}

.radio-container label{
    display: inline-block;
    padding: 0.5rem;
    font-weight: normal;
    font-size: 0.9rem;
}

.radio-container label input{
    margin-right: 1px;
}


input.error, select.error{
    border-color: #ef5555;
}

label.error{
    background: #ef5555;
    color: white;
    padding: 0.2rem 0.5rem;
    margin: -1rem 0 1rem 0;
    text-align: right;
    font-size: 0.8rem;
}

.error-description{
    display: block;
    margin-top: 1rem;
}

.wrapp-login{
    position: absolute;
    right: 50%;
    bottom: calc(50% + 40px);
    transform: translate(50%, 50%);
}

.wrapp-login h2{
    margin: 0;
} 

.content-form{
    border: 1px solid #00397d;
    padding: 2.5rem 2rem;
    border-radius: 5px;
    margin-top: 2rem;
    width: 400px;
}

.callout{
    margin: 0;
    border-radius: 5px;
}

.callout.alert{
    border-color: rgba(254, 82, 121, 0.8);
    color: rgba(254, 82, 121, 0.8);
    font-weight: bold;
}

/*DragNDropIMAGES*/
.box-input-images {
    margin-bottom: 2rem;
}
.box{
    background: #ebebeb;
    padding: 2rem;
    text-align: center;
    cursor: pointer;
    font-weight: normal;
    border: 1px solid #706c6c;
    transition: all 0.28s ease-out;

}

.box.has-drag-upload{
    outline: 1px dashed #7d7d7d;
    outline-offset: -7px;
}

.box:hover{
    opacity: 0.8;
}

.box-input-images input{
    display: none;
}

.box_dragndrop{
    display: none;
}

.box.has-drag-upload .box_dragndrop{
    display: inline;
}


.list-drag-images{
    /*display: none;*/
    list-style: none;
}

.box.is-dragover {
  background-color: #d0edff;
}

.list-drag-images{
    font-size: 0;
    margin: 1rem auto;
}

.list-drag-images li{
    display: inline-block;
    width: calc(20% - 1rem);
    border: 1px solid #aeadad;
    margin: 0 0.5rem 0.5rem;
    height: 234px;
    vertical-align: text-bottom;
    background: black;
    position: relative;
}

.list-drag-images li .delete-item{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 40px;
    background: #333;
    bottom: 0;
    font-size: 0.8rem;
    text-align: center;
    padding-top: 0.7rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.list-drag-images li .delete-item:hover{
    background: black;
}

.list-drag-images li img{
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}

.slick-prev:before, .slick-next:before{
    color: #284676;
}

.input-image{
    margin-bottom: 1rem;
    position: relative;
    width: 300px;
    height: 300px;
    background: #ebebeb;
    text-align: center;
    display: block;
    border: 1px solid #cacaca;
}

.input-image:hover .cover-image{
    z-index: 10;
    background: rgba(97, 97, 97, 0.78);
    width: 100%;
    height: 100%;
    padding-top: 47%;
    color: white;
}

.input-image img{
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    width: 100%;
    background: white;
}

.input-image input{
    display: none;
}

.input-image .cover-image{
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    line-height: 1;
    width: 100%;
    transition: background 0.28s;
    cursor: pointer;
}

