.section-form{

}

.header-section-form{
	background: #27487e;
	margin-bottom: 0;
	text-shadow: none;
	font-size: 1.8rem;
	padding: 0.5rem 1rem;
}

.content-section-form{
	padding: 0.8rem;
}

.section-form .columns {
    /*padding: 0 0.5rem 0 0.5rem;*/
}

.content-checks{
	border: 1px solid #cacaca;
    padding: 0.5rem;
    font-size: 0.8rem;
    text-align: center;
    min-height: 110px;
}

.content-checks .checkbox{
    width: 40%;
    margin-top: 0.8rem;
}

.content-checks .other-text{
	margin-top: 0.5rem;
}

.content-checks .other-text input{
	margin-bottom: 0;
	height: 35px;
}

.label-check{
	border: 1px solid #cacaca;
    width: 100%;
    height: 49px;
    padding: 0.5rem;
    padding-top: 0.9rem;
    text-align: center;
    font-size: 0.8rem;
}

button{
	background: #ED4023;
    display: block;
    padding: 0.6rem;
    font-size: 1.2rem;
    color: white;
    border: 0;
    border-radius: 60px;
    margin: 1rem auto;
    width: 320px;
    outline: none;
}

button img{
	display: inline-block;
	width: 50px;
	vertical-align: middle;
}

.input-invalid{
	border-color: red;
}

.add-button{
	cursor: pointer;
}
.add-button img{
	width: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.Formularios ul li{
	font-size: 1.2rem;
    width: auto;
}

.Formularios ul li .texto{
	width: 60%;
    margin: 0.5rem auto;
    color: #ed3e12;
    font-weight: 400;
}

.callout{
    border: 1px solid #f99999;
    padding: 1rem;
    background: #f7e5e5;
    margin-bottom: 1rem;
    color: #fb6f6f;
    font-weight: 400;
    padding-left: 2rem;
}

.callout ul{
    list-style: none;
}

.callout ul li{
    margin-bottom: 0.5rem;
}