<div class="pageContent">
	<div class="L-10 M-10 S-10 row pageBanner">
		<div class="L-10 M-8 S-12 columns imagenBanner Vinculate" appImagesSizesBanner>
			<img src="./assets/img/BanVincul.jpg">
			<div class="PageTitle"><h2>Vincúlate</h2><h3>y disfruta de todos nuestros beneficios</h3></div>
		</div>	
		<div class="L-2 M-2 S-12 columns bannerBotones">
			<a class="L-12 M-12 S-6 columns OfVirtual" href="https://servicios2.inube.com.co/linix/v6/860006643/login.php?nit=860006643" target="_blank">
				<div class="icono"><img src="./assets/img/OfVirtIcon.png"></div>
				<div class="texto"><b>Oficina<b class="Resaltar"> virtual</b></b></div>
			</a>
			<div class="L-12 M-12 S-6 columns Vinculate" [routerLink]="['/vinculate']">
				<div class="icono"><img src="./assets/img/vinculIcon.png"></div>
				<div class="texto"><b>Vincúlate<b class="Resaltar"> ahora</b></b></div>
			</div>
		</div>
	</div>
	
	<div class="L-10 M-10 S-10 row pageContainer">
		<div class="callout" *ngIf="errors">
			<ul>
				<li *ngFor="let error of errors">
					<div *ngFor="let e of error" >
						{{ e }}
					</div>
				</li>
			</ul>
		</div>
		<a target="_blank" #pdf_url download></a>
		<form  #f="ngForm" novalidate (ngSubmit)="f.valid && onSubmit()" #f="ngForm" (keydown.enter)="$event.preventDefault()">
			<div class="section-form">
				<h3 class="header-section-form">Datos del asociado</h3>
				<div class="content-section-form">
					<div class="row">
						<label class="columns L-3 M-3 S-12">
							<input 
								type="text"
								onfocus="(this.type='date')"
								max="9999-12-31"
								onblur="(this.type='text')"
								placeholder="Fecha de diligenciamiento"
								required
								name="date_filling"
								[(ngModel)]="form.date_filling"
								#date_filling="ngModel"
								[ngClass]="{'input-invalid': f.submitted && !date_filling.valid}">
						</label>
						<label class="columns L-3 M-3 S-12">
							<select 
								required
								name="type_format_id"
								[(ngModel)]="form.type_format_id"
								#type_format_id="ngModel"
								[ngClass]="{'input-invalid': f.submitted && !type_format_id.valid}">
								<option value="">Tipo de formato</option>
								<option *ngFor="let item of tipo_formato" [value]="item.id">{{ item.desc }}</option>
							</select>
						</label>	
					</div>
					<div class="row">
						<label class="columns L-3 M-3 S-12">
							<input 
								type="text"
								placeholder="Nombres"
								required
								name="name"
								[(ngModel)]="form.name"
								#name="ngModel"
								[ngClass]="{'input-invalid': f.submitted && !name.valid}"
								>
						</label>
						<label class="columns L-3 M-3 S-12">
							<input 
								type="text"
								placeholder="Apellidos"
								required
								name="lastname"
								[(ngModel)]="form.lastname"
								#lastname="ngModel"
								[ngClass]="{'input-invalid': f.submitted && !lastname.valid}"
								>
						</label>
						<label class="columns L-2 M-2 S-12">
							<input 
								type="text"
								placeholder="Cédula"
								required
								name="document"
								[(ngModel)]="form.document"
								#document="ngModel"
								[ngClass]="{'input-invalid': f.submitted && !document.valid}"
								>
						</label>
						<label class="columns L-2 M-2 S-12">
							<input 
								type="text"
								placeholder="Lugar de expedición"
								required
								name="lugar_ex"
								[(ngModel)]="form.lugar_expedicion"
								#lugar_expedicion="ngModel"
								[ngClass]="{'input-invalid': f.submitted && !lugar_expedicion.valid}"
								>
						</label>
						<label class="columns L-2 M-2 S-12">
							<input 
								type="text"
								onfocus="(this.type='date')"
								max="9999-12-31"
								onblur="(this.type='text')"
								placeholder="Fecha expedición"
								required
								name="date_expedition"
								[(ngModel)]="form.date_expedition"
								#date_expedition="ngModel"
								[ngClass]="{'input-invalid': f.submitted && !date_expedition.valid}"
								>
						</label>
					</div>
					<div class="row">
						<div class="columns L-3 M-3 S-12">
							<div class="row">
								<label class="columns L-6 M-6 S-12">
								<select 
								required
								name="type_status_id"
								[(ngModel)]="form.type_status_id"
								#type_status_id="ngModel"
								[ngClass]="{'input-invalid': f.submitted && !type_status_id.valid}">
								<option value="">Estado civil</option>
								<option *ngFor="let item of estado_civil" [value]="item.id">{{ item.desc }}</option>
							</select>
							</label>
							<label class="columns L-6 M-6 S-12">
								<select 
									required
									name="type_gender_id"
									[(ngModel)]="form.type_gender_id"
									#type_gender_id="ngModel"
									[ngClass]="{'input-invalid': f.submitted && !type_gender_id.valid}">
										<option value="">Género</option>
										<option *ngFor="let item of genero" [value]="item.id">{{ item.desc }}</option>
									</select>
							</label>
							</div>
						</div>
						<div class="columns L-3 M-3 S-12">
							<div class="row">
								<label class="columns L-6 M-6 S-12">
									<select 
										required
										name="place_birth"
										[(ngModel)]="form.place_birth"
										#place_birth="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !place_birth.valid}">
											<option value="">Lugar de nacimiento</option>
													<option *ngFor="let item of ciudades" [value]="item.id">{{ item.desc }}</option>
										</select>
								
							</label>
							<label class="columns L-6 M-6 S-12">
								<input 
									type="text"
									onfocus="(this.type='date')"
									max="9999-12-31"
									onblur="(this.type='text')"
									type="text"
									placeholder="Fecha"
									required
									name="birthdate"
									[(ngModel)]="form.birthdate"
									#birthdate="ngModel"
									[ngClass]="{'input-invalid': f.submitted && !birthdate.valid}"
									>
							</label>
							</div>
						</div>
						<label class="columns L-3 M-3 S-12">
							<input 
								type="text"
								placeholder="Email Personal"
								[pattern]="validators.email" 
								required
								name="email"
								[(ngModel)]="form.email"
								#email="ngModel"
								[ngClass]="{'input-invalid': f.submitted && !email.valid}"

								>
						</label>
						<div class="columns L-3 M-3 S-12">
							<div class="row">
								<label class="columns L-6 M-6 S-12">
								<input 
									type="text"
									placeholder="Nivel de estudios"
									required
									name="education"
									[(ngModel)]="form.education"
									#education="ngModel"
									[ngClass]="{'input-invalid': f.submitted && !education.valid}"
									>
							</label>
							<label class="columns L-6 M-6 S-12">
								<input 
									type="text"
									placeholder="Profesion"
									required
									name="profession"
									[(ngModel)]="form.profession"
									#profession="ngModel"
									[ngClass]="{'input-invalid': f.submitted && !profession.valid}"
									>
							</label>
							</div>
						</div>
					</div>
					<div class="row">
						<label class="columns L-3 M-3 S-12">
							<input 
								type="text"
								placeholder="Dirección de residencia"
								required
								name="address"
								[(ngModel)]="form.address"
								#address="ngModel"
								[ngClass]="{'input-invalid': f.submitted && !address.valid}"
								>
						</label>
						<div class="columns L-3 M-3 S-12">
							<div class="row">
								<label class="columns L-6 M-6 S-12">
									<select
									required
									name="departament_id"
									[(ngModel)]="form.departament_id"
									#departament_id="ngModel"
									[ngClass]="{'input-invalid': f.submitted && !departament_id.valid}"
									>
										<option value="">Departamento</option>
										<option *ngFor="let item of departamento" [value]="item.id">{{ item.desc }}</option>
									</select>
							</label>
							<label class="columns L-6 M-6 S-12">
								<select
									placeholder="Ciudad"
									required
									name="city_id"
									[(ngModel)]="form.city_id"
									#city_id="ngModel"
									[ngClass]="{'input-invalid': f.submitted && !city_id.valid}">
									<option value="">Ciudad</option>
										<option *ngFor="let item of ciudades" [value]="item.id">{{ item.desc }}</option>
								</select>
									
							</label>
							</div>
						</div>
						<div class="columns L-3 M-3 S-12">
							<div class="row">
								<label class="columns L-6 M-6 S-12">
								<input 
									type="text"
									placeholder="Teléfono"
									required
									[pattern]="validators.phone" 
									name="phone"
									[(ngModel)]="form.phone"
									#phone="ngModel"
									[ngClass]="{'input-invalid': f.submitted && !phone.valid}"
									>
							</label>
							<label class="columns L-6 M-6 S-12">
								<input 
									type="text"
									placeholder="Tel. Celular"
									required
									[pattern]="validators.mobil" 
									name="mobile"
									[(ngModel)]="form.mobile"
									#mobile="ngModel"
									[ngClass]="{'input-invalid': f.submitted && !mobile.valid}"
									>
							</label>
							</div>
						</div>
						<label class="columns L-3 M-3 S-12">
							<select 
								required
								name="type_home_id"
								[(ngModel)]="form.type_home_id"
								#type_home_id="ngModel"
								[ngClass]="{'input-invalid': f.submitted && !type_home_id.valid}">
								<option value="">Tipo de residencia</option>
								<option *ngFor="let item of tipo_residencia" [value]="item.id">{{ item.desc }}</option>

							</select>
							
								
						</label>
					</div>
					<div class="row">
						<label class="columns L-3 M-3 S-12">
							<input 
								type="text"
								placeholder="Barrio"
								required
								name="barrio"
								[(ngModel)]="form.barrio"
								#barrio="ngModel"
								[ngClass]="{'input-invalid': f.submitted && !barrio.valid}"
								>
						</label>

						<label class="columns L-2 M-2 S-12">
							<input 
								type="text"
								placeholder="Estrato"
								required
								[pattern]="validators.number" 
								maxlength="1" 
								name="estrato"
								[(ngModel)]="form.estrato"
								#estrato="ngModel"
								[ngClass]="{'input-invalid': f.submitted && !estrato.valid}"
								>
						</label>
					</div>
					
				</div>
			</div>

			<div class="section-form">
				<h3 class="header-section-form">Información laboral</h3>
				<div class="content-section-form">
					<div class="row">
						<div class="columns L-3 M-3 S-12">
							<div class="row">
								<label class="columns L-6 M-6 S-12">
									<select 
										required
										name="type_occupation_id"
										[(ngModel)]="form.type_occupation_id"
										#type_occupation_id="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !type_occupation_id.valid}"
									>
										<option value="">Ocupación</option>
										<option *ngFor="let item of tipo_ocupacion" [value]="item.id">{{ item.desc }}</option>
									</select>
									
								</label>
								<label class="columns L-6 M-6 S-12">
									<input 
										type="text"
										placeholder="Fecha de ingreso"
										onfocus="(this.type='date')"
										max="9999-12-31"
										onblur="(this.type='text')"
										required
										name="date_start"
										[(ngModel)]="form.date_start"
										#date_start="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !date_start.valid}"
										>
								</label>
							</div>
						</div>
						<div class="columns L-3 M-3 S-12">
							<div class="row">
								<label class="columns L-6 M-6 S-12">
									<input 
										type="text"
										placeholder="Actividad económica"
										required
										name="economic_act"
										[(ngModel)]="form.economic_act"
										#economic_act="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !economic_act.valid}"
										>
								</label>
								<label class="columns L-6 M-6 S-12">
									<input 
										type="text"
										placeholder="Códido CIIU"
										required
										name="cod_ciiu"
										[(ngModel)]="form.cod_ciiu"
										#cod_ciiu="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !cod_ciiu.valid}"
										>
								</label>
							</div>
						</div>
						<label class="columns L-3 M-3 S-12">
							<input 
								type="text"
								placeholder="Nombre de la empresa"
								required
								name="company"
								[(ngModel)]="form.company"
								#company="ngModel"
								[ngClass]="{'input-invalid': f.submitted && !company.valid}">
						</label>
						<div class="columns L-3 M-3 S-12">
							<div class="row">
								<label class="columns L-6 M-6 S-12">
									<input 
										type="text"
										placeholder="Área / Sección / Of."
										required
										name="area_of"
										[(ngModel)]="form.area_of"
										#area_of="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !area_of.valid}"
										>
								</label>
								<label class="columns L-6 M-6 S-12">
									<input 
										type="text"
										placeholder="Códido área / Of."
										required
										name="cod_area"
										[(ngModel)]="form.cod_area"
										#cod_area="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !cod_area.valid}"
										>
								</label>
							</div>

						</div>
					</div>
					<div class="row">
						<div class="columns L-3 M-3 S-12">
							<div class="row">
								<label class="columns L-6 M-6 S-12">
									<input 
										type="text"
										placeholder="Región"
										required
										name="region"
										[(ngModel)]="form.region"
										#region="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !region.valid}"
										>
								</label>
								<label class="columns L-4 M-4 S-12">
									<input 
										type="text"
										placeholder="Telefono"
										[pattern]="validators.phone" 
										required
										name="phone_laboral"
										[(ngModel)]="form.phone_laboral"
										#phone_laboral="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !phone_laboral.valid}"
										>
								</label>
								<label class="columns L-2 M-2 S-12">
									<input 
										type="text"
										placeholder="Ext"
										required
										name="ext"
										[(ngModel)]="form.ext"
										#ext="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !ext.valid}"
										>
								</label>
							</div>
						</div>
						<label class="columns L-3 M-3 S-12">
							<input 
								type="text"
								placeholder="Cargo"
								required
								name="position"
								[(ngModel)]="form.position"
								#position="ngModel"
								[ngClass]="{'input-invalid': f.submitted && !position.valid}">
						</label>
						<label class="columns L-3 M-3 S-12">
							<input 
								type="text"
								placeholder="Email corporativo"
								[pattern]="validators.email" 
								required
								name="email_laboral"
								[(ngModel)]="form.email_laboral"
								#email_laboral="ngModel"
								[ngClass]="{'input-invalid': f.submitted && !email_laboral.valid}">
						</label>
						<div class="columns L-3 M-3 S-12">
							<div class="row">
								<label class="columns L-6 M-6 S-12">
									<input 
										type="text"
										placeholder="Sueldo básico"
										required
										name="salary"
										[(ngModel)]="form.salary"
										#salary="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !salary.valid}"
										>
								</label>
								
							</div>
						</div>
					</div>
					<div class="row">
						<div class="columns L-3 M-3 S-12">
							<div class="row">
								<label class="columns L-6 M-6 S-12">
									<select 
										required
										name="type_salary_id"
										[(ngModel)]="form.type_salary_id"
										#type_salary_id="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !type_salary_id.valid}">
											<option value="">Tipo de salario</option>
								<option *ngFor="let item of tipo_salario" [value]="item.id">{{ item.desc }}</option>
										</select>
								</label>
								<label class="columns L-6 M-6 S-12">
									<select 
										required
										name="type_deal_id"
										[(ngModel)]="form.type_deal_id"
										#type_deal_id="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !type_deal_id.valid}">
											<option value="">Tipo de contrato</option>
											<option *ngFor="let item of tipo_contrato" [value]="item.id">{{ item.desc }}</option>
										</select>
								</label>
							</div>
						</div>
						<div class="columns L-3 M-3 S-12">
							<div class="row" *ngIf="form.type_deal_id == 3">
								<label class="columns L-12 M-12 S-12">
									<input 
										type="text"
										placeholder="Otro contrato"
										required
										name="other_contract"
										[(ngModel)]="form.other_contract"
										#other_contract="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !other_contract.valid}">
								</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="columns L-3 M-3 S-12">
							<div class="row">
								<label class="columns L-6 M-6 S-12">
									<select 
										required
										name="type_payment_id"
										[(ngModel)]="form.type_payment_id"
										#type_payment_id="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !type_payment_id.valid}">
											<option value="">Forma de abono</option>
											<option *ngFor="let item of forma_abono" [value]="item.id">{{ item.desc }}</option>
										</select>
								</label>
								<label class="columns L-6 M-6 S-12">
									<input 
										type="text"
										placeholder="Número"
										required
										name="num"
										[(ngModel)]="form.num"
										#num="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !num.valid}"
										>
								</label>
							</div>
						</div>
						<div class="columns L-3 M-3 S-12">
							<div class="row">
								<label class="columns L-6 M-6 S-12">
									<input 
										type="text"
										placeholder="Banco"
										required
										name="bank"
										[(ngModel)]="form.bank"
										#bank="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !bank.valid}"
										>
								</label>
							</div>
						</div>
					</div>
				
				</div>
			</div>

			<div class="section-form">
				<h3 class="header-section-form">Información familiar</h3>
				<div class="content-section-form">
					<ng-container *ngFor="let familiar of familiares; let i = index">
					<div class="row">
						<label class="columns L-3 M-3 S-12">
							<input 
								type="text"
								placeholder="Nombres y apellidos"
								required
								name="name_familiar[{{i}}]"
								[(ngModel)]="familiares[i].name_familiar"
								#name_familiar="ngModel"
								[ngClass]="{'input-invalid': f.submitted && !name_familiar.valid}"
								>
						</label>
						<div class="columns L-3 M-3 S-12">
							<div class="row">
								<label class="columns L-6 M-6 S-12">
									<input 
										onfocus="(this.type='date')"
										max="9999-12-31"
										onblur="(this.type='text')"
										type="text"
										placeholder="Fecha de nacimiento"
										required
										name="birthdate_familiar[{{i}}]"
										[(ngModel)]="familiares[i].birthdate_familiar"
										#birthdate_familiar="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !birthdate_familiar.valid}"
										>
								</label>
								<label class="columns L-6 M-6 S-12">
									<input 
										type="text"
										placeholder="Nivel de educación"
										required
										name="education_familiar[{{i}}]"
										[(ngModel)]="familiares[i].education_familiar"
										#education_familiar="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !education_familiar.valid}"
										>
								</label>
							</div>
						</div>
						<div class="columns L-3 M-3 S-12">
							<div class="row">
								<label class="columns L-6 M-6 S-12">
									<select 
										required
										name="type_occupation_id_familiar[{{i}}]"
										[(ngModel)]="familiares[i].type_occupation_id_familiar"
										#type_occupation_id_familiar="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !type_occupation_id_familiar.valid}">
										<option value="">Ocupación</option>
										<option *ngFor="let item of tipo_ocupacion" [value]="item.id">{{ item.desc }}</option>
									</select>
								</label>
								<label class="columns L-6 M-6 S-12">
									<input 
										type="text"
										placeholder="Teléfono"
										required
										name="phone_familiar[{{i}}]"
										[(ngModel)]="familiares[i].phone_familiar"
										#phone_familiar="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !phone_familiar.valid}"
										>
								</label>
							</div>
						</div>
						<div class="columns L-3 M-3 S-12">
							<div class="row">
								<label class="columns L-6 M-6 S-12">
									<select 
										placeholder="Tipo de familiar"
										required
										name="type_family_id[{{i}}]"
										[(ngModel)]="familiares[i].type_family_id"
										#type_family_id="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !type_family_id.valid}"
										>
											<option value="">Tipo de familia</option>
											<option *ngFor="let item of tipo_familiar" [value]="item.id">{{ item.desc }}</option>
										</select>
										
								</label>
								<label class="columns L-6 M-6 S-12">
									<a *ngIf="i == 0" (click)="duplicateRow()" class="add-button" ><img src="assets/img/button_add.svg" alt="">Agregar</a>
									<a *ngIf="i > 0" (click)="deleteRow(i)" class="add-button" ><img src="assets/img/button_delete.svg" alt="">Eliminar</a>
								</label>
							</div>
						</div>

					</div>
					</ng-container>
				</div>
			</div>

			<div class="section-form">
				<h3 class="header-section-form">Información financiera</h3>
				<div class="content-section-form">
					<div class="row">
						<div class="columns L-3 M-3 S-12">
							<div class="row">
								<label class="columns L-6 M-6 S-12">
									<input 
										type="text"
										placeholder="Total ingresos mensuales"
										required
										[pattern]="validators.number" 
										name="ingress"
										[(ngModel)]="form.ingress"
										#ingress="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !ingress.valid}"
										>
								</label>
								<label class="columns L-6 M-6 S-12">
									<input 
										type="text"
										placeholder="Total egresos mensuales"
										required
										[pattern]="validators.number" 
										name="egress"
										[(ngModel)]="form.egress"
										#egress="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !egress.valid}"
										>
								</label>
							</div>
						</div>
						<div class="columns L-3 M-3 S-12">
							<div class="row">
								<label class="columns L-6 M-6 S-12">
									<input 
										type="text"
										placeholder="Total activos"
										required
										[pattern]="validators.number" 
										name="assets"
										[(ngModel)]="form.assets"
										#assets="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !assets.valid}"
										>
								</label>
								<label class="columns L-6 M-6 S-12">
									<input 
										type="text"
										placeholder="Total pasivos"
										required
										[pattern]="validators.number" 
										name="liabilities"
										[(ngModel)]="form.liabilities"
										#liabilities="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !liabilities.valid}"
										>
								</label>
							</div>
						</div>
						<label class="columns L-3 M-3 S-12">
							<input 
								type="text"
								placeholder="Otros ingresos o ingresos no operacionales"
								required
								[pattern]="validators.number" 
								name="other_ingress"
								[(ngModel)]="form.other_ingress"
								#other_ingress="ngModel"
								[ngClass]="{'input-invalid': f.submitted && !other_ingress.valid}">
						</label>
						<label class="columns L-3 M-3 S-12">
							<input 
								type="text"
								placeholder="Descripción de otros ingresos o ingresos no operacionales"
								required
								name="description"
								[(ngModel)]="form.description"
								#description="ngModel"
								[ngClass]="{'input-invalid': f.submitted && !description.valid}">
						</label>
					</div>
				</div>
			</div>

			<div class="section-form">
				<h3 class="header-section-form">Operaciones en moneda extranjera</h3>
				<div class="content-section-form">
					<div class="row">
						<div class="columns L-3 M-3 S-12">
							<radio-group 
								[listData]="radio_options"
								title="Realiza operaciones de moneda extanjera"
								required
								name="ext_operation"
								[(ngModel)]="form.ext_operation"
								#ext_operation="ngModel"
								[isValid]="f.submitted && !ext_operation.valid"
								>
							</radio-group>
						</div>
						<div class="columns L-3 M-3 S-12">
							<radio-group 
								[listData]="radio_options"
								title="Posee cuentas en el extranjero"
								required
								name="have_ext_accouts"
								[(ngModel)]="form.have_ext_accouts"
								#have_ext_accouts="ngModel"
								[isValid]="f.submitted && !have_ext_accouts.valid"
								>
							</radio-group>
						</div>
						<div class="columns L-6 M-6 S-12">
							<div class="row" *ngIf="have_ext_accouts.value == 1">
								<label class="columns L-half-5 M-half-5 S-12">
									<input 
										type="text"
										placeholder="No. Cuenta"
										required
										name="num_ext"
										[(ngModel)]="form.num_ext"
										#num_ext="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !num_ext.valid}"
										>
								</label>
								<label class="columns L-half-5 M-half-5 S-12">
									<input 
										type="text"
										placeholder="Banco"
										required
										name="bank_ext"
										[(ngModel)]="form.bank_ext"
										#bank_ext="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !bank_ext.valid}"
										>
								</label>
								<label class="columns L-half-5 M-half-5 S-12">
									<input 
										type="text"
										placeholder="Moneda"
										required
										name="coin_ext"
										[(ngModel)]="form.coin_ext"
										#coin_ext="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !coin_ext.valid}"
										>
								</label>
								<label class="columns L-half-5 M-half-5 S-12">
									<select 
									    required
										name="city_id_ext"
										[(ngModel)]="form.city_id_ext"
										#city_id_ext="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !city_id_ext.valid}">
											<option value="">Ciudad</option>
												<option *ngFor="let item of ciudades" [value]="item.id">{{ item.desc }}</option>
										</select>
								</label>
								<label class="columns  L-half-5 M-half-5 S-12">
									<select
										required
										name="country_id_ext"
										[(ngModel)]="form.country_id_ext"
										#country_id_ext="ngModel"
										[ngClass]="{'input-invalid': f.submitted && !country_id_ext.valid}">
										<option value="">País</option>
										<option *ngFor="let item of paises" [value]="item.id">{{ item.desc }}</option>
									</select>
								</label>
							</div>
							<div class="row">
								<label class="columns  L-half-5 M-half-5 S-12 label-check" [ngClass]="{'input-invalid': f.submitted && !affirmation.valid}">
									Declaro que no realizo transacciones en moneda extranjera
									<input 
										type="checkbox"
										name="affirmation"
										[(ngModel)]="form.affirmation"
										#affirmation="ngModel"
										
										>
								</label>
							</div>
						</div>
						<div class="columns L-12 M-12 S-12" *ngIf="ext_operation.value == 1">
							<div class="row other-text">
									<label class="columns L-12 M-12 S-12">
										<input 
											type="text"
											required
											name="description_ext_operation"
											[(ngModel)]="form.description_ext_operation"
											#description_ext_operation="ngModel"
											[ngClass]="{'input-invalid': f.submitted && !description_ext_operation.valid}"
											placeholder="¿Cuáles operaciones de moneda extanjera realiza?">
									</label>
								</div>
						</div>
					
					</div>
				</div>
			</div>

			<div class="section-form">
				<h3 class="header-section-form">Declaracion de persona expuesta publicamente (pep)</h3>
				<div class="content-section-form">
					<div class="row">
						<div class="columns L-6 M-6 S-12">
							<div class="row">
								<label class="columns L-6 M-6 S-12">
									<radio-group 
										[listData]="radio_options"
										title="¿Maneje recursos públicos o tenga poder de disposición sobre estos?"
										required
										name="recursos_publicos"
										[(ngModel)]="form.recursos_publicos"
										#recursos_publicos="ngModel"
										[isValid]="f.submitted && !recursos_publicos.valid"
										>
									</radio-group>
								</label>
								<label class="columns L-6 M-6 S-12">
									<radio-group 
										[listData]="radio_options"
										title="¿Tiene o goza de reconocimiento público?"
										required
										name="reconocimiento_publico"
										[(ngModel)]="form.reconocimiento_publico"
										#reconocimiento_publico="ngModel"
										[isValid]="f.submitted && !reconocimiento_publico.valid"
										>
									</radio-group>
								</label>
							</div>
						</div>
						<div class="columns L-6 M-6 S-12">
							<div class="row">
								<label class="columns L-12 M-12 S-12">
									<radio-group 
										[listData]="radio_options"
										title="¿Tiene grado de poder público o desempeña una funcion pública prominente o destaca en el estado, relacionada con alguno de los cargos descritos en el decreto 1674 de 2016?"
										required
										name="grado_publico"
										[(ngModel)]="form.grado_publico"
										#grado_publico="ngModel"
										[isValid]="f.submitted && !grado_publico.valid"
										>
									</radio-group>
								</label>
							</div>
						</div>
						<div class="columns L-12 M-12 S-12">
							<div class="row">
								<label class="columns L-12 M-12 S-12">
									<radio-group 
										[inlineRadio]="true"
										[listData]="radio_options"
										title="¿Tiene familiares, hasta el segundo grado de consanguinidad, que encajen en los escenarios descritos previamente?"
										required
										name="grado_consanguinidad"
										[(ngModel)]="form.grado_consanguinidad"
										#grado_consanguinidad="ngModel"
										[isValid]="f.submitted && !grado_consanguinidad.valid"
										>
									</radio-group>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="section-form">
				<h3 class="header-section-form">Autorización de descuento</h3>
				<div class="content-section-form">
					<div class="row">
						<div class="columns L-12 M-12 S-12">
							<div class="content-checks" [ngClass]="{'input-invalid': f.submitted && !discount.valid}">
								Por medio de la presente me permito comunicarles que he decidido afiliarme al Fondo de Empleados del Banco de Bogotá; en consecuencia me comprometo a aceptar los Estatutos, reglamentos y disposiciones en general de la Entidad. Autorizo expresamente a mi empleador para realizar las deducciones sobre mis ingresos laborales, para las cuotas de ahorros y aportes, créditos y todos aquellos descuentos reglamentarios, de acuerdo a sus Estatutos y decisiones de la Junta Directiva; sumas que solicito entregar al mencionado Fondo.
								<div class="row checkbox">
									<label class="columns L-12 M-12 S-12">
										Acepto <input 
													type="checkbox"
													required
													name="discount"
													[(ngModel)]="form.discount"
													#discount="ngModel"
													>
									</label>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="section-form">
				<h3 class="header-section-form">Declaración voluntaria de origen de fondos</h3>
				<div class="content-section-form">
					<div class="row">
						<div class="columns L-12 M-12 S-12">
							<div class="content-checks" [ngClass]="{'input-invalid': f.submitted && !source.valid}">
								Bajo la gravedad de juramento y actuando en nombre propio realizo la siguiente declaración de origen y destinación de recursos al Fondo de Empleados Banco de Bogotá, con el fin de cumplir con las disposiciones señaladas en su Sistema de Administración del Riesgo de Lavado de Activos y de la Financiación del Terrorismo: 1. Declaro que los activos, ingresos, bienes y demás recursos provienen de actividades legales conforme a lo descrito en mi actividad y ocupación. 2. No admitiré que terceros vinculen mi actividad con dineros, recursos o activos relacionados con el delito de lavado de activos o destinados a la financiación del terrorismo. 3. Eximo al Fondo de Empleados Banco de Bogotá, de toda responsabilidad que se derive del comportamiento o el que se ocasione por la información falsa ó errónea suministrada en la presente declaración y en los documentos que respaldan o soporten mis afirmaciones. 4. Autorizo al Fondo de Empleados Banco de Bogotá, para que verifique y realice las consultas que estime necesarias con el propósito de confirmar la información registrada en este formulario. 5. Los recursos que utilizo para realizar los pagos e inversiones en el Fondo de Empleados Banco de Bogotá tienen procedencia lícita y están soportados con el desarrollo de actividades legítimas. 6. No he sido, ni me encuentro incluido en investigaciones relacionadas con Lavado de Activos o Financiación del Terrorismo. 7. Estoy informado de mi obligación de actualizar con una periodicidad como mínimo anual, la información que solicite la entidad por cada producto o servicio que utilice, suministrando la información documental exigida por el Fondo de Empleados Banco de Bogotá para dar cumplimiento a la normatividad vigente.
								<div class="row checkbox">
									<label class="columns L-12 M-12 S-12">
										Acepto <input type="checkbox"
													required
													name="source"
													[(ngModel)]="form.source"
													#source="ngModel"
													>
									</label>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="section-form">
				<button> <img src="assets/img/icon_button.svg" alt=""> imprimir formulario</button>
			</div>

		</form>
			
	</div>
	
</div>	