<div [ngClass]="{selected: opened == true}" class="PopUpContainer">
	<div class="L-6 M-8 S-10 row PopUpParent">
		<div class="L-12 M-12 S-12 row pageBanner PopUp">
			<div class="L-12 M-12  columns imagenBanner PopUp" appImagesSizesBanner>
				<img src="./assets/img/BanWhite.jpg">
				<div class="PageTitle"><h2>{{infoConvenios[0].Title}}</h2><h3>{{infoConvenios[0].Short_Desc}}</h3></div>
			</div>	
		</div>
		<div class="L-12 M-12 S-12 row pageContainer PopUp">
			<div class="L-12 M-12 S-12 columns insideContent">
				<img class="L-3 M-4 S-5 columns" src="{{infoConvenios[0].picture}}" alt="">
				<div class="L-9 M-8 S-7 texto">
					<ul>
						<li>{{infoConvenios[0].Long_Desc}}</li>
					</ul>
				</div>
			</div>
		</div>	
		<div class="cerrar" (click)="opened = false">X</div>
	</div>
</div>	