<div class="pageContent">
	<div class="L-10 M-10 S-10 row pageBanner">
		<div class="L-10 M-8 S-12 columns imagenBanner Beneficios" appImagesSizesBanner>
			<img src="./assets/img/BanBeneficios.jpg">
			<div class="PageTitle"><h2>Beneficios</h2><h3>para que logres lo que te propones</h3></div>
		</div>	
		<div class="L-2 M-2 S-12 columns bannerBotones">
			<a class="L-12 M-12 S-6 columns OfVirtual" href="https://servicios2.inube.com.co/linix/v6/860006643/login.php?nit=860006643" target="_blank">
				<div class="icono"><img src="./assets/img/OfVirtIcon.png"></div>
				<div class="texto"><b>Oficina<b class="Resaltar"> virtual</b></b></div>
			</a>
			<div class="L-12 M-12 S-6 columns Vinculate" [routerLink]="['/vinculate']">
				<div class="icono"><img src="./assets/img/vinculIcon.png"></div>
				<div class="texto"><b>Vincúlate<b class="Resaltar"> ahora</b></b></div>
			</div>
		</div>
	</div>
	<div class="L-10 M-10 S-10 row pageContainer">
		<div>
			<div class="Icon BeneficiosAfilia"></div>
			<div class="Title BeneficiosAfilia"><h1>Cuando te afilias</h1></div>
			<div class="TextTitle"><a>{{afiliaciones.desc}}</a></div>
		</div>

		<ng-container *ngFor="let afilacion of afiliaciones">
		<div class="L-12 M-12 S-12 columns insideContent">
			<img [src]="afilacion.image.url" class="L-3 M-4 S-12 columns">
			<div class="L-9 M-8 S-12 texto" [innerHTML]="afilacion.description | safe:'html'"></div>
		</div>
		</ng-container>
	</div>
	<div class="L-10 M-10 S-10 row pageContainer">
		<div>
			<div class="Icon BeneficiosServi"></div>
			<div class="Title BeneficiosServi"><h1>Servicios y convenios</h1></div>
		</div>
		<ng-container *ngFor="let servicio of servicios_convenios">
		<div class="L-12 M-12 S-12 columns insideContent">
			<img [src]="servicio.image.url" class="L-3 M-4 S-12 columns">
			<div class="L-9 M-8 S-12 texto" [innerHTML]="servicio.description | safe:'html'"></div>
		</div>
		</ng-container>
		
		<div class="TextTitle"><a>{{ servicios_convenios.desc }}</a></div>
	</div>
</div>	