<div class="L-12 M-12 S-12 columns">
	<div class="L-10 M-10 S-12 columns centered conveniosContainer">
		<div class="Icon Convenios"></div>
		<div class="Title Convenios"><h1>Convenios y Alianzas</h1></div>

		<ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" >
			<div ngxSlickItem class=" convenio slide"  *ngFor="let item of Conv" [routerLink]="['/convenios', item.id]" >
				<figure><img src="{{item.picture}}" alt="" ></figure>
			</div>

		</ngx-slick>
		
	</div>
</div>