.slider-convenios{
	position: relative;
    height: 210px;
    margin: 0 auto;
}




@media screen and (max-width: 39.9375em) {
	.scrollConvenios{
		overflow: hidden;
		width: 210px;
    	height: 210px;
	}
	.conveniosSlider{
		width: 1260px;
		margin: 0;

	}

	.slider-convenios{
    	width: 210px;
	}
}