.content-checks{
	border: 1px solid #cacaca;
    padding: 0.5rem;
    font-size: 0.8rem;
    text-align: center;
    min-height: 110px;
    margin-bottom: 0.5rem;
}

.content-checks .checkbox{
    width: 50%;
    margin-top: 0.8rem;
}

.content-checks.inline-radio{
    min-height: auto !important;
}

.content-checks.inline-radio .checkbox{
    display: inline-block;
    width: 100px;
    vertical-align: middle;
    margin-top: 0;
}

.content-checks .other-text{
	margin-top: 0.5rem;
}

.content-checks .other-text input{
	margin-bottom: 0;
	height: 35px;
}

.content-checks.input-invalid{
    border-color: red;
}