<div class="content-checks" [ngClass]="{'input-invalid': isValid, 'inline-radio': inlineRadio}">
	{{ title }}
	<div class="row checkbox">
		<label class="columns L-6 M-6 S-12" *ngFor="let option of listData">
			{{ option.name }}
			<input 
				(change)="onChange()"
				type="radio" 
				[name]="name + '_radiogroup'"
				[(ngModel)]="value_radio"
				[value]="option.value">
		</label>
	</div>
</div>