<!DOCTYPE html>
<html>
  <head>
    <title>Administrador Fondo de Empleados</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    
	 <!-- <script src="//code.jquery.com/jquery-1.12.4.js"></script>
	 <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
	  <script>
  		$(function() {
        
        $( "#accordion" ).accordion({
          heightStyle: "content",
          active: false,
          collapsible: true,
        }); 

        $('.main-menu li > a').click(function(evt){
            evt.preventDefault();
            let active = parseInt(this.href.split('#')[1]);
            $( "#accordion").accordion({ active: active})
        })

        $('#accordion a').click(function(evt){
          evt.stopPropagation();
        })

      });
  	</script>
  </head>
  <body>